<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 pb20">
                <div class="footer__title">Elérhetőségi adatok:</div>
                <div class="footer__text">
                    <p>Közép-Kelet-Európai Rekreációs Társaság</p>
                    <p>Rövidített név: KERT</p>
                    <p>Székhely: 6723 Szeged, Csaba utca 48/A</p>
                    <p>Levelezési cím: 6723 Szeged, Csaba utca 48/A</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-5 pb20">
                <div class="footer__title">További tartalom</div>
                <ul class="footer__list">
                    <li class="footer__li">
                        <a href="statText.html">Pályázatok</a>
                    </li>
                    <li class="footer__li">
                        <a href="statText.html">Adó 1%</a>
                    </li>
                    <!--<li class="footer__li"><a href="carrier.html">Állásajánlatok</a></li>-->
                    <li class="footer__li">
                        <a href="referencia.html">Referenciák</a>
                    </li>
                    <li class="footer__li">
                        <a href="contact.html">Kapcsolat</a>
                    </li>
                    <li class="footer__li">
                        <a href="faq.html">GY.I.K.</a>
                    </li>
                    <li class="footer__li">
                        <a href="statText.html">ÁSZF</a>
                    </li>
                    <li class="footer__li">
                        <a href="statText.html">Adatvédelem</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-3 pb20">
                <div class="footer__title">Közösségi média</div>
                <a href="https://www.youtube.com/channel/UCghtAX1H_Wsyd7hEqxJ_yQg?feature=watch" target="_blank" class="footer__icon">
                    <img src="../web/images/youtube.svg" alt="Youtube">
                </a>
                <a href="https://www.facebook.com/rekreacio" target="_blank" class="footer__icon">
                    <img src="../web/images/facebook.svg" alt="Facebook">
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 footer__made-by">
                <a href="https://bcsfotonet.hu" target="_blank">
                    <img src="../web/images/bcs-logo.svg" alt="BCs FotoNet">
                </a>
            </div>
        </div>
    </div>
</footer>

    <div id="goToTop" class="goToTop"></div>
    <script src="../web/vendor/vendor.js"></script>
    <script src="../web/js/main.js"></script>
    </body>
</html>