<div class="events-box js-events-box">
    <div class="container">
        <div class="row events-box__item">
            <div class="col-12 col-md-4 events-box__image">
                <img src="../web/images/konf0_1_225.JPG" alt="">
            </div>
            <div class="col-12 col-md-8 events-box__content">
                <div class="events-box__city">Szeged</div>
                <div class="events-box__title">2015. május 13. Salsa – a hétköznapokat megfűszerező tánc</div>
                <div class="events-box__date">2017.10.25 - 2017.10.30.</div>
                <div class="events-box__lead">A salsa fűszeres szószt jelent, de használják a világszerte elterjedt vidám,
                        természetes, felszabadító tánc megnevezésére is. Hogy mitől vált ilyen népszerűvé, hogyan 
                        járul hozzá az emberek hétköznapjainak jobbá tételéhez, mit fejleszt, milyen örömöket tartogat,
                        megtudhattuk Siposné Baranyi Anettől, a Dolce Dance Tánciskola vezetőjétől.
                </div>
                <a href="#" class="events-box__more">Részletek</a>
            </div>
        </div>
        <hr>
        <div class="row events-box__item">
            <div class="col-12 col-md-4 events-box__image">
                <img src="../web/images/konf0_1_225.JPG" alt="">
            </div>
            <div class="col-12 col-md-8 events-box__content">
                <div class="events-box__city">Szeged</div>
                <div class="events-box__title">2015. május 13. Salsa – a hétköznapokat megfűszerező tánc</div>
                <div class="events-box__date">2017.10.25 - 2017.10.30.</div>
                <div class="events-box__lead">A salsa fűszeres szószt jelent, de használják a világszerte elterjedt vidám,
                        természetes, felszabadító tánc megnevezésére is. Hogy mitől vált ilyen népszerűvé, hogyan 
                        járul hozzá az emberek hétköznapjainak jobbá tételéhez, mit fejleszt, milyen örömöket tartogat,
                        megtudhattuk Siposné Baranyi Anettől, a Dolce Dance Tánciskola vezetőjétől.
                </div>
                
                <a href="#" class="events-box__more">Részletek</a>
            </div>
        </div>
        
    </div>
</div>