<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-4">
                <a href="index.html">
                    <img src="../web/images/logo.png" alt="Közép-Kelet-Európai Rekreációs Társaság" class="header__logo">
                </a>
                <div class="header__slogen">"Az élmény önmagát írja; az ötletet Te írod" – Márai Sándor</div>
                <div class="mobil-nav">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row mt10 mb10 justify-content-center justify-content-md-end">
                    <a href="login.html" class="header__link">
                        <img src="../web/images/login.svg" alt="Bejelentkezés" class="header__icon">
                        Bejelentkezés
                    </a>
                    <a href="reg.html" class="header__link">
                        <img src="../web/images/reg.svg" alt="Regisztráció">
                        Regisztráció
                    </a>
                    <div class="language-selector">
                        <a href="javascript:void(false);"><img src="../web/images/hungary.svg" alt="Magyar nyelv"></a>
                        <a href="javascript:void(false);"><img src="../web/images/angol.svg" alt="Angol nyelv"></a>
                        <a href="javascript:void(false);"><img src="../web/images/roman.svg" alt=""></a>
                    </div>
                </div>
                <div class="row justify-content-center justify-content-md-end">
                    <div class="form__item">
                        <div class="form__group">
                            <input type="text" placeholder="Keresés...">
                        </div>
                    </div>
                    <a href="rendeles.html" class="button">
                        <img src="../web/images/basket.svg" alt="Kosár">
                        Kosár
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>