<div class="nav">
    <ul class="nav__list">
        <li class="nav__li nav__parent-nav js-sub-nav"><a>Média</a>
            <ul class="nav__sub-nav js-sub-list">
                <li class="nav__li"><a href="news-list.html">Hírek</a></li>
                <li class="nav__li"><a href="mediatar-events.html">Események</a></li>
                <li class="nav__li"><a href="video-list.html">Videók</a></li>
                <li class="nav__li"><a href="media-news-list.html">Rólunk írták</a></li>
            </ul>
        </li>
        <li class="nav__li nav__parent-nav js-sub-nav"><a>Társaság</a>
            <ul class="nav__sub-nav js-sub-list">
                <li class="nav__li"><a href="statText.html">Bemutakozás</a></li>
                <li class="nav__li"><a href="staff.html">Munkatársak</a></li>
                <li class="nav__li"><a href="authors.html">Szerkesztőbizottság</a></li>
                <li class="nav__li"><a href="creativ-team.html">Kreatív csoportok</a></li>
                <li class="nav__li"><a href="documents.html">Alapdokumentumok</a></li>
                <li class="nav__li"><a href="statText.html">Közérdekű információk</a></li>
            </ul>
        </li>
        <!--<li class="nav__li"><a href="magazin-list.html">Tudományos magazin</a></li>-->
        <!--<li class="nav__li"><a href="tanulmany.html">Tanulmányok</a></li>-->
        <!--<li class="nav__li nav__parent-nav js-sub-nav"><a href="#">Életviteli klub</a>
            <ul class="nav__sub-nav js-sub-list">
                <li class="nav__li"><a href="statText.html">A klubról</a></li>
                <li class="nav__li"><a href="lecture.html">Előadások</a></li>
                <li class="nav__li"><a href="galeria-list.html">Képek</a></li>
                <li class="nav__li"><a href="life-video-list.html">Videók</a></li>
                <li class="nav__li"><a href="poster.html">Plakátok</a></li>
            </ul>
        </li>-->
        <li class="nav__li"><a href="calendar.html">Eseménynaptár</a></li>
    </ul>
</div>