<div class="two-part__sidebar">
    <div class="sidebar-box">
        <a href="calendar.html" class="sidebar-box__title" target="_blank"><i class="fas fa-calendar"></i>Eseménynaptár</a>
    </div>
    <div class="sidebar-box">
        <a href="../statText.html" class="sidebar-box__title"><i class="far fa-file-alt"></i>Közlési feltételek</a> 
    </div>
    <div class="sidebar-box">
        <a href="../magazin-list.html" class="sidebar-box__title"><i class="fas fa-book"></i>Magazin</a>
        <div class="sidebar-box__magazin">
            <img src="../web/images/magazin.png" alt="">
        </div>
    </div>
</div>