<div class="col-12 col-sm-6 col-xl-4">
    <div class="admin-user">
        <a href="#" class="button button--edit"><i class="far fa-edit"></i>Szerkesztés</a>
        <a href="#" class="remove remove--absolute js-remove"><i class="fas fa-trash"></i></a>
        <hr>
        <div class="admin-user__name"><b>Név: </b>Csige Zoltán</div>
        <div class="admin-user__id"><b>Azonosító:</b>csige.zoltan</div>
    </div>
</div>