<div class="col-12 col-sm-6 col-lg-4 col-xl-3">
    <div class="media">
        <a href="javascript:void(false);">
            <img src="images/media.jpg">
        </a>
        <div class="media__settings">
            <a href="#" class="button button--edit"><i class="far fa-edit"></i>Szerkesztés</a>
            <div class="media__operations">
                <a class="archive js-archive" href="#"><i class="far fa-eye"></i></a>
                <a class="remove js-remove" href="#"><i class="fas fa-trash"></i></a>
            </div>
        </div>
    </div>
</div>