<div class="col-12 col-sm-6 col-xl-4">
    <div class="tiled-view">
        <div class="tiled-view__header">
            <a href="#" class="button button--edit"><i class="far fa-edit"></i>Szerkesztés</a>
            <div class="tiled-view__icon-wrapper">
                <a href="#" class="status-changer js-status-changer"><i class="fas fa-eye"></i></a>
                <a href="#" class="remove js-remove"><i class="fas fa-trash"></i></a>
            </div>
        </div>
        <hr>
        <div class="tiled-view__content">
            <div class="tiled-view__title"><b>Cím:</b>@@cím</div>
        </div>
    </div>
</div> 