<div class="headline">
    <div class="hamburger-menu">
            <span></span>
            <span></span>
            <span></span>
    </div>
    <div class="headline__title">@@title</div>
    <div class="headline__user">
        <span>Belépve: </span><b>Csige Zoltán</b>
    </div>
</div>