<div class="form__item">
    <label>@@title</label>
    <div class="form__group">
        <button class="button button--upload">Kép feltöltése</button>
        <input type="file" name="foto" id="foto" title="Kép">
    </div>
</div>