<div class="form__item form__item--error">
    <label>@@label</label>
    <div class="form__group">
        <select name="" id="" class="js-example-basic-single">
            <option value="1">@@option1</option>
            <option value="2">@@option2</option>
        </select>
        <div class="form__error">A mező kitöltése kötelező!</div>
    </div>
</div>