$amp: '.headline';

#{$amp} {
    background: #066545;
    width: 100%;
    padding: 10px 30px;
    position: absolute;
    top: 0;
    left: 0;

    &__title {
        float: left;
        color: $c-white;
        text-transform: uppercase;
        font-size: 10px;
        line-height: 16px;
        font-weight: $fw-bold;

        @include desktop {
            font-size: 14px;
        }
    }

    &__user {
        float: right;
        color: $c-white;
        font-size: 10px;
        line-height: 16px;

        b {
            font-weight: $fw-bold;
        }

        @include desktop {
            font-size: 12px;
        }
    }
}