$amp: '.nav';

#{$amp} {
    margin-bottom: 30px;
    z-index: 1000;

    &__list {
        width: 100%;
        will-change: opacity;
    }

    &__li {
        position: relative;

        a {
            display: block;
            font-size: 14px;
            color: $c-white;
            cursor: pointer;
            padding: 15px 30px;
            color: $c-white;
            border-top: 1px solid #00000024;
            font-weight: $fw-bold;
            position: relative;
            user-select: none;

            > span {
                margin-left: 15px;
                display: block;
            }

            > i {
                color: $c-white;
                pointer-events: none;
                position: absolute;
                top: 50%;
                left: 20px;
                transform: translateY(-50%);
            }
        }

    }

    &__dropdown {
        &::after {
            content:"\f054";
            font-family: $ff-fa;
            font-weight: 900;
            color: $c-white;
            font-size: 10px;
            position: absolute;
            right: 20px;
            top: 18px;
        }
    }

    &__subnav {
        display:none;
        margin: 20px;
        background: $bg-color;
        transition: .4s;
     
        cursor: pointer;
        #{$amp}__li {

            a {
                border-top: 1px solid #00000024;
            }
        }   
    }
}

.parent-menu-opened {

    transition: .4s;

    > a.parent-li {

        span {
            font-weight: 700;
        }
    }

    #{$amp}__subnav {
        opacity: 1;
        animation:fade 1s ease;

        @keyframes fade{
            0% {opacity:0;}
            100%{opacity:1;}
        }
    }


    &:after {
        content: '\f078';
        font-family: $ff-fa;
    }
}
.bcs-menu-sub {
    display:none;
    margin-top: 30px;
    background: $bg-color;

    li {
        cursor: pointer;
        border-bottom: 1px solid $border-color;

        &:first-child {
            border-top: 1px solid $border-color;
        }
        span {
            margin-left: 10px;
        }
    }
}

.hamburger-menu {
    width: 50px;
    height: 30px;
    position: relative;
    cursor: pointer;
    top: -4px;
    z-index: 100000;
    transition: 1000ms;
    transition-timing-function: ease;

    @include desktop {
        display: none;
    }

    span {
        display: block;
        height: 2px;
        left: 19px;
        position: absolute;
        background: #ffffff;
        border-radius: 0;
        transition: width .5s cubic-bezier(.175,.885,.32,1.275);

        &:first-child {
            width: 20px;
            top: 6px;
        }

        &:nth-child(2) {
            width: 15px;
            top: 13px;
        }
        &:nth-child(3) {
            width: 10px;
            top: 20px;
        }
    }
}
.hamburger-menu-opened {
    left: 285px;
    transition: 1000ms;
    transition-timing-function: ease;
}