$amp: '.sidebar';

#{$amp} {
    
    width: 280px;
    background: $bg-color;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
    z-index: 1000000;
    min-height: 100%;
    max-height: none;
    position: fixed;
    display: block;
    transition: transform 300ms ease;
    transform: translate3d(-280px,0,0);

    @include desktop {
        transform: translate3d(0,0,0);
        display: block;
    }

    &--transform {
        transform: translate3d(0,0,0);
    }

    &__title {
        display: block;
        color: $c-white;
        font-size: 12px;
        font-weight: $fw-medium;
        padding: 10px;
        text-shadow: 1px 1px 1px #ffffff38;
        position: relative;
        text-align: center;
        
        @include desktop {
            font-size: 20px;
            padding: 20px;
        }

        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
            color: $c-white;
        }
    }

    &__logout {
        text-align: center;
        font-size: 0.75em;
        padding: 10px;
        background: #066545;
        color: $c-white;

        a {
            color: $c-white;

            &:hover,
            &:active,
            &:focus {
                text-decoration: none;
                color: $c-white;
            }
        }
    }
}