$amp: '.admin-user';

#{$amp} {
    
    margin-bottom: 10px;
    padding: 20px;
    background: #ffffff;
    border-radius: 4px;
    border: 1px solid #033c29;
    width: 100%;
    position: relative;

    &__name {
        
        font-family: $ff-ro;
        font-size: 14px;
        margin-bottom: 0;

        > b {
            font-weight: $fw-bold;
            margin-right: 7px;
        }
    }

    &__id {
        font-family: $ff-ro;
        font-size: 14px;

        > b {
            font-weight: $fw-bold;
            margin-right: 7px;
        }
    }

    &__edit {

        a {
            color: #ffffff;
            background: #027e55;
            padding: 5px 20px;
            border-radius: 30px;
            font-size: 12px;
            border-bottom: 2px solid #033c29;

            > i {
                font-size: 12px;
                margin-right: 7px;
            }
        } 
    }
}