$amp: '.button';

#{$amp} {
    font-family: $ff-ow;
    font-size: 14px;
    background: #027e55;
    border-bottom: 3px solid #033c29;
    color: $c-white;
    padding: 10px 30px;
    border-radius: $border-r;
    cursor: pointer;
    display: block;
    text-align: center;
    margin-bottom: 20px;
    transition: .4s;

    @include tablet {
        display: inline-block;
    }

    > i {
        margin-right: 10px;
    }

    &:hover,
    &:active,
    &:focus {
        color: $c-white;
        text-decoration: none;
        transform: scale(0.95);
    }

    &--back {
        margin-bottom: 20px;
        background-color: #ffffff;
        border: 1px solid #dadada;
        border-bottom: 3px solid #a9abaa;
        color: #a9abaa;
        transition: .2s;

        &:hover,
        &:active,
        &:focus {
            color: #033c29;
            border-bottom: 3px solid #033c29;
        }
    }

    &--edit {
        padding: 5px 20px 7px 20px;
        border-radius: 4px;
        font-size: 12px;
        font-weight: $fw-bold;
        border-bottom: 2px solid #033c29;
        max-width: 200px;
        text-align: left;
        display: inline;
    }

    &--submit {
        font-size: 14px;
        font-weight: $fw-semibold;
        padding: 10px 40px;
    }

    &--cancel {
        background-color: #ffffff;
        border: 1px solid #dadada;
        border-bottom: 3px solid #a9abaa;
        color: #a9abaa;
        padding: 10px 40px;

        &:hover,
        &:active,
        &:focus {
            color: #a9abaa;
        }

    }

    &--upload {
        border: 2px solid #a9abaa;;
        color: #008963;
        background-color: #ffffff;
        text-transform: uppercase;
        padding: 8px 20px;
        border-radius: 4px;
        font-size: 16px;
        font-weight: $fw-medium;
        width: 100%;
        margin-bottom: 0;
        cursor: pointer;

        &:hover,
        &:active,
        &:focus {
            color: #a9abaa;
        }
    }

    &__container {
        display: flex;
        flex-flow: row;
        justify-content: center;
        margin-top: 30px;

        .button:first-child {
            margin-right: 10px;
        }
    }
}