#editor, #en-editor, #ro-editor, #seo-editor {
    height: 500px;
    overflow-y: auto;
  }
  .ql-editor {
    height: 500px;
  }
  
  /* Specify our own scrolling container */
  #scrolling-container {
    height: 100%;
    min-height: 100%;
    overflow-y: auto;
  }