.filterInput {
    margin-bottom: 30px;
    display: block;
    outline: none;
    appearance: none;
    padding: 10px 20px;
    font-size: 12px;
    border-radius: $border-r;
    border: 1px solid $border-color;
    border-top: 3px solid $form-top-border;
    width: 100%;
}
