$amp: '.language-selector';

#{$amp} {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    @include tablet {
        justify-content: flex-end;
    }

    a {
        margin-right: 10px;
        color: #000000;
        font-size: 14px;

        img {
            width: 14px;
            height: 14px;
            margin-right: 10px;
        }
    }
    &__selected {
        padding:10px;
        background: #e6e6e6;
        border-bottom: 2px solid $border-color;
        border-top: 2px solid $border-color;
        font-weight: 700;
    }
}