$amp: '.list-view';

#{$amp} {
    border: 1px solid #033c29;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 10px;

    .form__item {
        margin-bottom: 0;
    }

    &__row {
        width: 100%;
        padding: 10px;
        border-bottom: 1px solid #eeeeee;

        &:last-child {
            border-bottom: none;
        }
    }

    &__sub {
        width: 100%;
        display: none;
    }

    &__btn {

        display: block;
        width: 40px;
        cursor: pointer;

        &:after {
            content:"\f054";
            font-family: $ff-fa;
            font-size: 14px;
            font-weight: 900;
        }

        &--none {
            &:after {
                content: '';
            }
        }

        &--active {
            &:after {
                content:"\f078";
            }
        }
    }
    &__order-edit {
        display: flex;
        justify-content: flex-start;
        flex-flow: row;
        align-items: center;

        .button {
            margin-left: 10px;
        }
    }

    &__edit {
        color: #ffffff;
        background: #027e55;
        padding: 5px 20px;
        border-radius: 30px;
        font-size: 12px;
        border-bottom: 2px solid #033c29;
        

        > i {
            font-size: 12px;
            margin-right: 7px;
        }
    }

    &__date, &__name {
        display: block;
        font-family: $ff-ro;
        font-weight: $fw-bold;
        font-size: 14px;
        //margin: 15px 0;
        margin-bottom: 10px;
        background: #eee;
        border-radius: 4px;
        padding: 5px 30px;
        width: 100%;

        &:first-child {
            margin-top: 10px;
        }

        &:nth-child(2) {
            
            @include tablet {
                margin-top: 10px;
                margin-left: 10px;
            }
        }
    }

    &__settings {

        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        flex-wrap: wrap;

        @include phone {
            justify-content: flex-end;
            padding-right: 20px;
        }

        @include tablet {
            flex-wrap: nowrap;
        }

        @include lg-desktop {
            justify-content: flex-end;
        }

        .form__item {
            margin-bottom: 20px;

            @include phone {
                margin-bottom: 0;
            }

            &:first-child {
                margin-right: 20px;
            }

            .form__group label {
                margin-bottom: 0;
                padding-left: 30px;
                font-size: 10px;

                @include lg-desktop {
                    font-size: 12px;
                }
            }
        }
    }
}

