$amp: '.media';

#{$amp} {

    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    border: 1px solid #033c29;
    border-radius: 4px 4px 0 0;
    margin-bottom: 15px;

    img {
        width: 100%;
        border-radius: 4px 4px 0 0;
    }

    &__settings {
        display: flex;
        width: 100%;
        padding: 10px;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .button {
            margin-bottom: 0;
        }
    }

    &__operations {
        display: flex;

        .remove {
            position: unset;
            margin-left: 8px;
        }

        .archive {
            color: #7d7a7a;
        }
    }

    &--inactive {

        img {
            opacity: .4;
        }
    }
}



