
.pagination { 
    width: 100%;
    margin: 40px auto;
    color: #676666;
    text-align: center;
    
    
    @include desktop {
        padding-bottom: 16px;
    }
    .pagination-wrapper {
        display: inline-block;
        padding: 10px 20px;
        border: 1px solid $border-color;
        border-radius: $border-r;
        border-top: 3px solid $form-top-border;
    }
    .pagination-btn-wrapper {
        width: 34px;
        height: 36px;
        display: inline-block;
        text-align: center;
        line-height: 36px;
        font-size: 14px;
       
        cursor: pointer;
    }
    .pagination-btn-wrapper.more {
        user-select: none;
        cursor: auto;
        width: 12px;
    }
    .pagination-btn-wrapper.prev { 
        background: url("../images/svg-btPrev.svg") no-repeat center center;
        background-size: 16px;
        transform: translateY(50%);
    }
    .pagination-btn-wrapper.next {
        background: url("../images/svg-btNext.svg") no-repeat center center;
        background-size: 16px;
        transform: translateY(50%);
    }
    .pagination-btn-wrapper.current {
        background-color: #004830;
        color: white;
        border-radius: 3px; 
    }
    .pagination-form {
        margin-top: 10px;
        width: 36px;

        display: inline-block;
        @include desktop {
            
            margin: 0;
            margin-top: 0;
        }
    }
    .pagination-form input {
        display: block;
        width: 100%;
        height: 36px;
        border: 1px solid #505050;
        border-radius: $border-r;
        text-align: center;
        outline-color: #0572a6;
        color: #676666;
    }
}
