$amp: '.return-msg-div ';

#{$amp} {

    width: 100%;
    font-size: 14px;
    border-radius: 4px;

    &--success {
    	margin-bottom: 5px;
    	padding: 10px 15px;
    	border: 1px solid;
        color: #099a6c;
        background-color: #daf6ec;
        border-color: #0bba83;
    }

    &--warning {
    	margin-bottom: 5px;
    	padding: 10px 15px;
    	border: 1px solid;
        color: #b74b48;
        background-color: #fce6e5;
        border-color: #de5b57;
    }
}