$amp: '.static-content';

#{$amp} {
    margin-bottom: 10px;
    padding: 20px;
    background: #ffffff;
    border-radius: 4px;
    border: 1px solid #033c29;
    position: relative;

    &__title {
        
        font-family: $ff-ro;
        font-size: 14px;
        clear: both;
        padding: 20px 0 5px 0;

        > b {
            font-weight: $fw-bold;
            margin-right: 10px;
        }
    }
}