
.table {
    margin: 10px 0;

    @include desktop {
        margin: 30px 0;
    }
    .row {
        border: 1px solid black;
        border-top: 3px solid $border-color;
        padding: 10px;
        background: $table-color;
        border-radius: $border-r;

        @include desktop {
            text-align: left;
        }
        
        
        .cell {
            display: block;
            font-family: Roboto;
            margin-right: 20px;
            line-height: 25px;

            &:last-child {
                margin-right: 0;
            }
            
            select {
                margin: 0 30px;
            }

            span {
                font-weight: 700;
            }

            a {
                color: black;
                font-family: Roboto;
                font-style: italic;
                
                .svg-inline--fa {
                    margin-right: 10px;
                }
            }
            @include tablet {
                display: inline-block;
            }
            @include desktop {
                display: inline-block;
                margin-right: 80px;

                &:last-child {
                    margin-right: 20px;
                }
            }
        }
        .plus {
            position: absolute;
            margin:5px 20px 0 0;
            cursor: pointer;

            img {
                width: 20px;
                height: 20px;
            }
        }
        .active-box {
            display: inline-block;
            margin-right: 10px;
            float: none;

            @include desktop {
                float: right;
                
            }

        }
        
        .remove {
            float: none;
            display: inline-block;

            @include desktop {
                float: right;
                margin: 5px 20px;
            }
            a {
                color: #000000;
            }
        }
    }
    .menu-child{
        display: none;
        height: auto;
        .row {
            background: rgba(0, 0, 0, 0.3);
            margin-left: 30px;
        }
        
    }
    .header {
        display: none;

        @include desktop {
            display: block;
        }

        .cell {
            margin-left: 100px;
            display: inline-block;
            input {
                display: inline-block;
            }
            .filterInput {
                width: auto;
                margin-right: 60px;
            }
        }
    }
    .eye-button {
        display: inline-block;
        float: right;
        margin: 6px;
        cursor: pointer;
    }
    .appearance {
        display: none;

        .text {
            font-weight: 700;
            margin: 20px 0 10px 0;
        }

        .cell {
            margin-right: 10px;

            .title {
                display: inline-block;
                margin-right: 20px;
                font-weight: 600;
                font-size: 14px;
            }
            .content-name {
                display: inline-block;
                font-size: 14px;
            }

            .form-item {

                .title {
                    display: inline-block;
                    font-size: 12px;
                }
            }
        }
    }
}
