$amp: '.tab-content';

#{$amp} {
    background: #fbfbfb;
    padding: 20px;
    border: 1px solid #dee2e6;
}

.nav-tabs, .nav-link {
    font-family: $ff-ow;
    font-size: 14px;
    color: #a9abaa;

    &:hover,
    &:focus,
    &:active {
        color: #a9abaa;
    }
}

.nav-tabs {
    margin-bottom: -1px;
}

.nav-link.active {
    background-color: #fbfbfb!important;
}