$amp: '.tiled-view';

#{$amp} {
    margin-bottom: 30px;
    padding: 20px;
    background: #ffffff;
    border-radius: 4px;
    border: 1px solid #033c29;
    position: relative;
    height: calc(100% - 30px);

    &__header {
        display: flex;
        justify-content: space-between;

        .button {
            margin-bottom: 0;
        }
    }

    &__icon-wrapper {
        display: flex;
    }

    &__data {
        
        font-family: $ff-ro;
        font-size: 14px;
        clear: both;
        padding: 10px 0;

        > b {
            font-weight: $fw-bold;
            margin-right: 10px;
        }
    }

    &__content {

        &--inactive {
            opacity: 0.3;
        }
    }
}