@@include('includes/_start.html', {
    "title": "Közép-Kelet-Európai Rekreációs Társaság",
    "keywords": "keyword1, keyword2, keyword3",
    "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit."
})
<body>
    <div class="wrapper">
@@include('includes/_header.html')
@@include('includes/_nav.html')
    <div class="content">
        @@include('includes/_headline.html', {
            "title": "Eseménynaptár",
            "first-li": "Nyitóoldal",
            "second-li": "Statikus",
            "selected": "Eseménynaptár"
        })

        <div class="container">
            <div class="row">
                <div class="col-12 calendar js-calendar">
                    <div class="calendar__header">
                        <div class="calendar__prev js-calendar__prev">
                            <img src="../web/images/prev.svg" alt="Előző">
                        </div>
                        <div class="calendar__next js-calendar__next">
                            <img src="../web/images/next.svg" alt="Következő">
                        </div>
                        <div class="calendar__month js-calendar__title"></div>
                    </div>
                    <div id="js-calendar__view">

                    </div>
                </div>
            </div>
        </div>
    </div>


    
@@include('includes/_end.html')