@@include('includes/_start.html', {
    "title": "Közép-Kelet-Európai Rekreációs Társaság",
    "keywords": "keyword1, keyword2, keyword3",
    "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit."
})

<body>
    <div class="wrapper">
@@include('includes/_header.html')
@@include('includes/_nav.html')
    <div class="content">
        @@include('includes/_headline.html', {
            "title": "Állásajánlatok",
            "first-li": "Nyitóoldal",
            "second-li": "Társaság",
            "selected": "Állásajánlatok"
        })
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="carrier">
                        <div class="carrier__title">Biochemist – Conjugation</div>
                        <div class="carrier__time"><b>Jelentkezési határidő:</b> 2018. December 15.</div>
                        <div class="carrier__lead">
                                BD Biosciences (BDB) is a worldwide technology leader producing 
                                instrument and reagent products for customers in research and 
                                clinical markets. BDB currently enjoys a leadership position in its
                                 primary business of clinical and research flow cytometry instruments 
                                 and reagents. The Rouge Project serves the research arm of BDB called 
                                 Life Science Research Reagents (LSRR) based in San Diego. 
                                 The Rouge Project will establish a Process Center for the manufacturing
                                  of stable, mature research reagent products in Tatabanya, Hungary.
                        </div>
                        <a href="javascript:void(false);" class="carrier__more">Bővebben</a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="carrier">
                        <div class="carrier__title">Biochemist – Conjugation</div>
                        <div class="carrier__time"><b>Jelentkezési határidő:</b> 2018. December 15.</div>
                        <div class="carrier__lead">
                                BD Biosciences (BDB) is a worldwide technology leader producing 
                                instrument and reagent products for customers in research and 
                                clinical markets. BDB currently enjoys a leadership position in its
                                 primary business of clinical and research flow cytometry instruments 
                                 and reagents. The Rouge Project serves the research arm of BDB called 
                                 Life Science Research Reagents (LSRR) based in San Diego. 
                                 The Rouge Project will establish a Process Center for the manufacturing
                                  of stable, mature research reagent products in Tatabanya, Hungary.
                        </div>
                        <a href="javascript:void(false);" class="carrier__more">Bővebben</a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="carrier">
                        <div class="carrier__title">Biochemist – Conjugation</div>
                        <div class="carrier__time"><b>Jelentkezési határidő:</b> 2018. December 15.</div>
                        <div class="carrier__lead">
                                BD Biosciences (BDB) is a worldwide technology leader producing 
                                instrument and reagent products for customers in research and 
                                clinical markets. BDB currently enjoys a leadership position in its
                                 primary business of clinical and research flow cytometry instruments 
                                 and reagents. The Rouge Project serves the research arm of BDB called 
                                 Life Science Research Reagents (LSRR) based in San Diego. 
                                 The Rouge Project will establish a Process Center for the manufacturing
                                  of stable, mature research reagent products in Tatabanya, Hungary.
                        </div>
                        <a href="javascript:void(false);" class="carrier__more">Bővebben</a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="carrier">
                        <div class="carrier__title">Biochemist – Conjugation</div>
                        <div class="carrier__time"><b>Jelentkezési határidő:</b> 2018. December 15.</div>
                        <div class="carrier__lead">
                                BD Biosciences (BDB) is a worldwide technology leader producing 
                                instrument and reagent products for customers in research and 
                                clinical markets. BDB currently enjoys a leadership position in its
                                 primary business of clinical and research flow cytometry instruments 
                                 and reagents. The Rouge Project serves the research arm of BDB called 
                                 Life Science Research Reagents (LSRR) based in San Diego. 
                                 The Rouge Project will establish a Process Center for the manufacturing
                                  of stable, mature research reagent products in Tatabanya, Hungary.
                        </div>
                        <a href="javascript:void(false);" class="carrier__more">Bővebben</a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="carrier">
                        <div class="carrier__title">Biochemist – Conjugation</div>
                        <div class="carrier__time"><b>Jelentkezési határidő:</b> 2018. December 15.</div>
                        <div class="carrier__lead">
                                BD Biosciences (BDB) is a worldwide technology leader producing 
                                instrument and reagent products for customers in research and 
                                clinical markets. BDB currently enjoys a leadership position in its
                                 primary business of clinical and research flow cytometry instruments 
                                 and reagents. The Rouge Project serves the research arm of BDB called 
                                 Life Science Research Reagents (LSRR) based in San Diego. 
                                 The Rouge Project will establish a Process Center for the manufacturing
                                  of stable, mature research reagent products in Tatabanya, Hungary.
                        </div>
                        <a href="javascript:void(false);" class="carrier__more">Bővebben</a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="carrier">
                        <div class="carrier__title">Biochemist – Conjugation</div>
                        <div class="carrier__time"><b>Jelentkezési határidő:</b> 2018. December 15.</div>
                        <div class="carrier__lead">
                                BD Biosciences (BDB) is a worldwide technology leader producing 
                                instrument and reagent products for customers in research and 
                                clinical markets. BDB currently enjoys a leadership position in its
                                 primary business of clinical and research flow cytometry instruments 
                                 and reagents. The Rouge Project serves the research arm of BDB called 
                                 Life Science Research Reagents (LSRR) based in San Diego. 
                                 The Rouge Project will establish a Process Center for the manufacturing
                                  of stable, mature research reagent products in Tatabanya, Hungary.
                        </div>
                        <a href="javascript:void(false);" class="carrier__more">Bővebben</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

@@include('includes/_end.html')

