@@include('includes/_start.html', {
    "title": "Közép-Kelet-Európai Rekreációs Társaság",
    "keywords": "keyword1, keyword2, keyword3",
    "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit."
})
<body>
    <div class="wrapper">
@@include('includes/_header.html')
@@include('includes/_nav.html')
    <div class="content">
        @@include('includes/_headline.html', {
            "title": "Kapcsolat",
            "first-li": "Nyitóoldal",
            "selected": "Kapcsolat"
        })
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-5">
                    <div class="editor-text stat-text">
                        <p>Közép-Kelet-Európai Rekreációs Társaság</p>
                        <p>Rövidített név: KERT</p>
                        <p>Székhely: 6723 Szeged, Csaba utca 48/A</p>
                        <p>Levelezési cím: 6723 Szeged, Csaba utca 48/A</p>
                        <p>E-mail: info@recreationcentral.eu</p>
                        <p>Számlavezető bank: CIB Bank Zrt.</p>
                        <p>Számlaszám: 10700433-65831328-51100005</p>
                        <p>Adóigazgatási szám: 18136892-2-06</p>
                        <p>Bejegyző végzés: Pk.60.066/2010/2.</p>
                        <a href="">hivatkozás</a>
                    </div>
                </div>
                <div class="col-12 col-md-7 map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2758.2570392470316!2d20.168797315398987!3d46.2649958791186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x474488185685a2fb%3A0x9eb834985ea6e02!2sSzeged%2C+Csaba+u.+48%2C+6723!5e0!3m2!1shu!2shu!4v1524647954466" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
        
@@include('includes/_end.html')