@@include('includes/_start.html', {
    "title": "Közép-Kelet-Európai Rekreációs Társaság",
    "keywords": "keyword1, keyword2, keyword3",
    "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit."
})

<body>
    <div class="wrapper">
@@include('includes/_header.html')
@@include('includes/_nav.html')
    <div class="content">
        @@include('includes/_headline.html', {
            "title": "Kreatív csoport",
            "first-li": "Nyitóoldal",
            "second-li": "Társaság",
            "selected": "Kreatív csoport"
        })
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <form action="">
                        <div class="form__item">
                            <label></label>
                            <div class="form__group">
                                <select name="" id="" class="js-example-basic-single">
                                    <option value="1">Szeged</option>
                                    <option value="2">Budapest</option>
                                    <option value="3">Miskolc</option>
                                    <option value="4">Szombathely</option>
                                    <option value="5">Pécs</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="staff">
                        <a class="staff__img">
                            <img src="../web/images/staff.png" alt="">
                        </a>
                        <span class="staff__name">Dr. Fritz Péter</span>
                        <span class="staff__titulus">Elnök</span>
                        <span class="staff__city">Szeged</span>
                        <span class="staff__mail">
                            <a href="mailto:fritzpeter@recreationcentral.eu">fritzpeter@recreationcentral.eu</a>
                        </span>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="staff">
                        <a class="staff__img">
                            <img src="../web/images/staff.png" alt="">
                        </a>
                        <span class="staff__name">Dr. Fritz Péter</span>
                        <span class="staff__titulus">Elnök</span>
                        <span class="staff__city">Szeged</span>
                        <span class="staff__mail">
                            <a href="mailto:fritzpeter@recreationcentral.eu">fritzpeter@recreationcentral.eu</a>
                        </span>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="staff">
                        <a class="staff__img">
                            <img src="../web/images/staff.png" alt="">
                        </a>
                        <span class="staff__name">Dr. Fritz Péter</span>
                        <span class="staff__titulus">Elnök</span>
                        <span class="staff__city">Szeged</span>
                        <span class="staff__mail">
                            <a href="mailto:fritzpeter@recreationcentral.eu">fritzpeter@recreationcentral.eu</a>
                        </span>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="staff">
                        <a class="staff__img">
                            <img src="../web/images/staff.png" alt="">
                        </a>
                        <span class="staff__name">Dr. Fritz Péter</span>
                        <span class="staff__titulus">Elnök</span>
                        <span class="staff__city">Szeged</span>
                        <span class="staff__mail">
                            <a href="mailto:fritzpeter@recreationcentral.eu">fritzpeter@recreationcentral.eu</a>
                        </span>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="staff">
                        <a class="staff__img">
                            <img src="../web/images/staff.png" alt="">
                        </a>
                        <span class="staff__name">Dr. Fritz Péter</span>
                        <span class="staff__titulus">Elnök</span>
                        <span class="staff__city">Szeged</span>
                        <span class="staff__mail">
                            <a href="mailto:fritzpeter@recreationcentral.eu">fritzpeter@recreationcentral.eu</a>
                        </span>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="staff">
                        <a class="staff__img">
                            <img src="../web/images/staff.png" alt="">
                        </a>
                        <span class="staff__name">Dr. Fritz Péter</span>
                        <span class="staff__titulus">Elnök</span>
                        <span class="staff__city">Szeged</span>
                        <span class="staff__mail">
                            <a href="mailto:fritzpeter@recreationcentral.eu">fritzpeter@recreationcentral.eu</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

@@include('includes/_end.html')

