@@include('includes/_start.html', {
    "title": "Közép-Kelet-Európai Rekreációs Társaság",
    "keywords": "keyword1, keyword2, keyword3",
    "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit."
})

<body>
    <div class="wrapper">
@@include('includes/_header.html')
@@include('includes/_nav.html')
    <div class="content">
        @@include('includes/_headline.html', {
            "title": "Alapdokumentumok",
            "first-li": "Nyitóoldal",
            "second-li": "Társaság",
            "selected": "Alapdokumentumok"
        })
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="document">
                        <span class="document__title">Alapszabály</span>
                        <p class="document__desc">A magazinban megjelenő 
                            hirdetések tartalmáért a kiadón nem vállal felelőséget.
                        </p>
                        <a class="document__download" href="javascript:void(false);">Letöltés</a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="document">
                        <span class="document__title">Alapszabály</span>
                        <p class="document__desc">A magazinban megjelenő 
                            hirdetések tartalmáért a kiadón nem vállal felelőséget.
                        </p>
                        <a class="document__download" href="javascript:void(false);">Letöltés</a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="document">
                        <span class="document__title">Alapszabály</span>
                        <p class="document__desc">A magazinban megjelenő 
                            hirdetések tartalmáért a kiadón nem vállal felelőséget.
                        </p>
                        <a class="document__download" href="javascript:void(false);">Letöltés</a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="document">
                        <span class="document__title">Alapszabály</span>
                        <p class="document__desc">A magazinban megjelenő 
                            hirdetések tartalmáért a kiadón nem vállal felelőséget.
                        </p>
                        <a class="document__download" href="javascript:void(false);">Letöltés</a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="document">
                        <span class="document__title">Alapszabály</span>
                        <p class="document__desc">A magazinban megjelenő 
                            hirdetések tartalmáért a kiadón nem vállal felelőséget.
                        </p>
                        <a class="document__download" href="javascript:void(false);">Letöltés</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

@@include('includes/_end.html')

