@@include('includes/_start.html', {
    "title": "Közép-Kelet-Európai Rekreációs Társaság",
    "keywords": "keyword1, keyword2, keyword3",
    "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit."
})


<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper pl-0 pr-0">
        <div class="content-wrapper d-flex align-items-center text-center error-page">
            <div class="row flex-grow w-100">
                <div class="col-lg-12 mx-auto text-white">
                    <div class="row align-items-center d-flex">
                        <div class="col-lg-6 text-lg-right pr-lg-4">
                            <h1 class="display-1 mb-0">403</h1>
                        </div>
                        <div class="col-lg-6 error-page-divider text-lg-left pl-lg-4">
                            <h2>SORRY!</h2>
                            <h3 class="font-weight-light">Önnek ehhez a funkcióhoz nincs jogosultsága!</h3>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-12 text-center mt-xl-2">
                            <a class="text-white font-weight-medium" href="index.html">Vissza az előző oldalra</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<script src="../web/vendor/vendor.js"></script>
        <script src="../web/js/main.js"></script>
    </body>
</html>