@@include('includes/_start.html', {
    "title": "Közép-Kelet-Európai Rekreációs Társaság",
    "keywords": "keyword1, keyword2, keyword3",
    "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit."
})
<body>
    <div class="wrapper">
@@include('includes/_header.html')
@@include('includes/_nav.html')
    <div class="content">
        @@include('includes/_headline.html', {
            "title": "Gyakran ismételt kérdések",
            "first-li": "Nyitóoldal",
            "selected": "Gyakran ismételt kérdések"
        })
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 faq">
                    <div class="faq__question js-question">
                        Csak egy cikket szeretnék elolvasni a magazinból, van rá lehetőség, hogy ne az egész magazint vegyem meg?
                    </div>
                    <div class="faq__answer editor-text">
                        2. Kérdés
                    </div>
                    <div class="faq__question js-question">
                        2. Kérdés
                    </div>
                    <div class="faq__answer editor-text">
                        Válasz
                    </div>
                    <div class="faq__question js-question">
                        3. Kérdés
                    </div>
                    <div class="faq__answer editor-text">
                        Válasz
                    </div>
                </div>
            </div>
        </div>
    </div>

@@include('includes/_end.html')