@@include('includes/_start.html', { "title": "Közép-Kelet-Európai Rekreációs Társaság", "keywords": "keyword1, keyword2, keyword3", "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit." })

<body>
    <div class="wrapper">
        @@include('includes/_header.html') @@include('includes/_nav.html')
        <div class="content">
            @@include('includes/_photoswipe.html') 
            @@include('includes/_headline.html', { "title": "Galéria", "first-li": "Nyitóoldal", "second-li": "Médiatár", "selected": "Galéria" })
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="gallery text-center">
                            <div class="gallery__title">Rekreáció a fókuszban, a mozgás legyen a gyógyszer!</div>
                            <div class="gallery__desc">Komplex lakossági mozgásos rekreációs eseménysorozat Magyarország fürdőiben</div>
                        </div>
                        <div class="gallery text-center" itemscope itemtype="https://schema.org/ImageGallery">
                            
                            <figure itemprop="associatedMedia" itemscope  class="gallery__img" itemtype="https://schema.org/ImageObject">
                                <a href="http://via.placeholder.com/333x194" itemprop="contentUrl" data-size="1920x1080">
                                    <img src="http://via.placeholder.com/333x194" itemprop="thumbnail" alt="" />
                                </a>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope  class="gallery__img" itemtype="https://schema.org/ImageObject">
                                <a href="http://via.placeholder.com/333x194" itemprop="contentUrl" data-size="1920x1080">
                                    <img src="http://via.placeholder.com/333x194" itemprop="thumbnail" alt="" />
                                </a>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope  class="gallery__img" itemtype="https://schema.org/ImageObject">
                                <a href="http://via.placeholder.com/333x194" itemprop="contentUrl" data-size="1920x1080">
                                    <img src="http://via.placeholder.com/333x194" itemprop="thumbnail" alt="" />
                                </a>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope  class="gallery__img" itemtype="https://schema.org/ImageObject">
                                <a href="http://via.placeholder.com/333x194" itemprop="contentUrl" data-size="1920x1080">
                                    <img src="http://via.placeholder.com/333x194" itemprop="thumbnail" alt="" />
                                </a>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope  class="gallery__img" itemtype="https://schema.org/ImageObject">
                                <a href="http://via.placeholder.com/333x194" itemprop="contentUrl" data-size="1920x1080">
                                    <img src="http://via.placeholder.com/333x194" itemprop="thumbnail" alt="" />
                                </a>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope  class="gallery__img" itemtype="https://schema.org/ImageObject">
                                <a href="http://via.placeholder.com/333x194" itemprop="contentUrl" data-size="1920x1080">
                                    <img src="http://via.placeholder.com/333x194" itemprop="thumbnail" alt="" />
                                </a>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope  class="gallery__img" itemtype="https://schema.org/ImageObject">
                                <a href="http://via.placeholder.com/333x194" itemprop="contentUrl" data-size="1920x1080">
                                    <img src="http://via.placeholder.com/333x194" itemprop="thumbnail" alt="" />
                                </a>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope  class="gallery__img" itemtype="https://schema.org/ImageObject">
                                <a href="http://via.placeholder.com/333x194" itemprop="contentUrl" data-size="1920x1080">
                                    <img src="http://via.placeholder.com/333x194" itemprop="thumbnail" alt="" />
                                </a>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope  class="gallery__img" itemtype="https://schema.org/ImageObject">
                                <a href="http://via.placeholder.com/333x194" itemprop="contentUrl" data-size="1920x1080">
                                    <img src="http://via.placeholder.com/333x194" itemprop="thumbnail" alt="" />
                                </a>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope  class="gallery__img" itemtype="https://schema.org/ImageObject">
                                <a href="http://via.placeholder.com/333x194" itemprop="contentUrl" data-size="1920x1080">
                                    <img src="http://via.placeholder.com/333x194" itemprop="thumbnail" alt="" />
                                </a>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope  class="gallery__img" itemtype="https://schema.org/ImageObject">
                                <a href="http://via.placeholder.com/333x194" itemprop="contentUrl" data-size="1920x1080">
                                    <img src="http://via.placeholder.com/333x194" itemprop="thumbnail" alt="" />
                                </a>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope  class="gallery__img" itemtype="https://schema.org/ImageObject">
                                <a href="http://via.placeholder.com/333x194" itemprop="contentUrl" data-size="1920x1080">
                                    <img src="http://via.placeholder.com/333x194" itemprop="thumbnail" alt="" />
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @@include('includes/_end.html')