@@include('includes/_start.html', { "title": "Közép-Kelet-Európai Rekreációs Társaság", "keywords": "keyword1, keyword2, keyword3", "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit." })

<body>
    <div class="wrapper">
        @@include('includes/_header.html') @@include('includes/_nav.html')
        <div class="content">
            @@include('includes/_photoswipe.html') 
            @@include('includes/_headline.html', { "title": "Galéria", "first-li": "Nyitóoldal", "second-li": "Médiatár", "selected": "Galéria" })
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <form action="">
                            <div class="form__item">
                                <label></label>
                                <div class="form__group">
                                    <select name="" id="" class="js-example-basic-single">
                                        <option value="1">Szeged</option>
                                        <option value="2">Budapest</option>
                                        <option value="3">Miskolc</option>
                                        <option value="4">Szombathely</option>
                                        <option value="5">Pécs</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="gallery">
                            <a href="javascript:void(false);" class="gallery__list-img">
                                <img src="http://via.placeholder.com/333x194" alt="">
                            </a>
                            <a href="javascript:void(false);" class="gallery__title">Rekreáció a fókuszban, a mozgás legyen a gyógyszer!</a>
                            <div class="gallery__desc">Komplex lakossági mozgásos rekreációs eseménysorozat Magyarország fürdőiben</div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="gallery">
                            <a href="javascript:void(false);" class="gallery__list-img">
                                <img src="http://via.placeholder.com/333x194" alt="">
                            </a>
                            <a href="javascript:void(false);" class="gallery__title">Rekreáció a fókuszban, a mozgás legyen a gyógyszer!</a>
                            <div class="gallery__desc">Komplex lakossági mozgásos rekreációs eseménysorozat Magyarország fürdőiben</div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="gallery">
                            <a href="javascript:void(false);" class="gallery__list-img">
                                <img src="http://via.placeholder.com/333x194" alt="">
                            </a>
                            <a href="javascript:void(false);" class="gallery__title">Rekreáció a fókuszban, a mozgás legyen a gyógyszer!</a>
                            <div class="gallery__desc">Komplex lakossági mozgásos rekreációs eseménysorozat Magyarország fürdőiben</div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="gallery">
                            <a href="javascript:void(false);" class="gallery__list-img">
                                <img src="http://via.placeholder.com/333x194" alt="">
                            </a>
                            <a href="javascript:void(false);" class="gallery__title">Rekreáció a fókuszban, a mozgás legyen a gyógyszer!</a>
                            <div class="gallery__desc">Komplex lakossági mozgásos rekreációs eseménysorozat Magyarország fürdőiben</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @@include('includes/_end.html')