@@include('includes/_start.html', {
    "title": "Közép-Kelet-Európai Rekreációs Társaság",
    "keywords": "keyword1, keyword2, keyword3",
    "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit."
})

<body>
    <div class="wrapper">
@@include('includes/_header.html')
@@include('includes/_nav.html')
    <div class="content">
        @@include('includes/_headline.html', {
            "title": "Kiemelt hírek",
            "second-li": "Társaság",
            "first-li": "Nyitóoldal",
            "selected": "Selected"
        })
        <div class="two-part">
            <div class="two-part__main">
               <div class="col-12 col-sm-6">
                    <div class="news-item">
                        <img class="news-item__image" src="../web/images/news-placeholder.jpg" alt="">
                        <span class="news-item__title">A globalizáció és a változás hatása az emberi erőforrás menedzsment funkciókra</span>
                        <span class="news-item__date">2018/10/11 14:20 - 2018/10/22 14:30</span>
                        <p class="news-item__lead">
                            Kovács Tamás Attila számos hazai publikáció szerzője a rekreáció, sport, edzéstan, rekreációs szakmai oktatás témáiban
                        </p>
                        <a href="#" class="news-item__more">Részletek</a>
                    </div>
               </div>
               <div class="col-12 col-sm-6">
                    <div class="news-item">
                        <img class="news-item__image" src="../web/images/news-placeholder.jpg" alt="">
                        <span class="news-item__title">A globalizáció és a változás hatása az emberi erőforrás menedzsment funkciókra</span>
                        <span class="news-item__date">2018.10.11. 14:20 - 2018.10.22 14:30</span>
                        <p class="news-item__lead">
                            Kovács Tamás Attila számos hazai publikáció szerzője a rekreáció, sport, edzéstan, rekreációs szakmai oktatás témáiban
                        </p>
                        <a href="#" class="news-item__more">Részletek</a>
                    </div>
               </div>
               <div class="col-12 col-sm-6">
                    <div class="news-item">
                        <img class="news-item__image" src="../web/images/news-placeholder.jpg" alt="">
                        <span class="news-item__title">A globalizáció és a változás hatása az emberi erőforrás menedzsment funkciókra</span>
                        <span class="news-item__date">2018.10.11. 14:20 - 2018.10.22 14:30</span>
                        <p class="news-item__lead">
                            Kovács Tamás Attila számos hazai publikáció szerzője a rekreáció, sport, edzéstan, rekreációs szakmai oktatás témáiban
                        </p>
                        <a href="#" class="news-item__more">Részletek</a>
                    </div>
               </div>
               <div class="col-12 col-sm-6">
                    <div class="news-item">
                        <img class="news-item__image" src="../web/images/news-placeholder.jpg" alt="">
                        <span class="news-item__title">A globalizáció és a változás hatása az emberi erőforrás menedzsment funkciókra</span>
                        <span class="news-item__date">2018.10.11. 14:20 - 2018.10.22 14:30</span>
                        <p class="news-item__lead">
                            Kovács Tamás Attila számos hazai publikáció szerzője a rekreáció, sport, edzéstan, rekreációs szakmai oktatás témáiban
                        </p>
                        <a href="#" class="news-item__more">Részletek</a>
                    </div>
               </div>
            </div>
            @@include('includes/_sidebar.html')
        </div>
        @@include('includes/_partners.html')
    </div>
@@include('includes/_kert.html')
@@include('includes/_end.html')

