@@include('includes/_start.html', {
    "title": "Közép-Kelet-Európai Rekreációs Társaság",
    "keywords": "keyword1, keyword2, keyword3",
    "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit."
})

<body>
    <div class="wrapper">
@@include('includes/_header.html')
@@include('includes/_nav.html')
    <div class="content">
        @@include('includes/_headline.html', {
            "title": "Kiemelt hírek",
            "second-li": "Társaság",
            "first-li": "Nyitóoldal",
            "selected": "Selected"
        })
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="preview">

                        <h2>Kész átadva</h2>
                        <hr>
                        <h4>Média</h4>
                        <a href="news-list.html">KÉSZ - Hír lista</a>
                        <a href="news-end.html">KÉSZ - Hír végoldal</a>
                        <a href="media-news-list.html">KÉSZ - Rólunk írták</a>
                        <a href="media-news-end.html">KÉSZ - Rólunk írták végoldal</a>
                        <a href="video-list.html">KÉSZ - Média videó lista</a>
                        <h4>Társaság</h4>
                        <a href="staff.html">KÉSZ - Munkatársak</a>
                        <a href="authors.html">KÉSZ - Szerkesztőbizottság</a>
                        <a href="documents.html">KÉSZ - Alapdokumentumok</a>
                        <a href="referencia.html">KÉSZ - Referenciák</a>
                        
                        <h4>Egyéb</h4>
                        <a href="home.html">KÉSZ - Nyitóoldal</a>
                        <a href="statText.html">KÉSZ - Statikus</a>
                        <a href="calendar.html">KÉSZ - Eseménynaptár</a>
                        <a href="faq.html">KÉSZ - Gyakran ismételt kérdések</a>
                        <a href="contact.html">KÉSZ - Kapcsolat</a>
                        <a href="error403.html">KÉSZ - error403</a>
                        <a href="error404.html">KÉSZ - error404</a>
                        <a href="error500.html">KÉSZ - error500</a>
        
                        <hr>
                        <h2>Preview links második ütem</h2>
                        <hr>
                        <a href="carrier.html">KÉSZ - Állásajánlatok</a> 
                        <a href="carrier-end.html">KÉSZ - Állásajánlatok végoldal</a> 
                        <a href="life-video-list.html">KÉSZ - Életviteli videó lista</a>
                        <a href="galeria-list.html">KÉSZ - Életviteli galéria lista</a>
                        <a href="galeria-end.html">KÉSZ - Életviteli galéria adatlap</a>
                        <a href="poster.html">KÉSZ - Életviteli plakátok</a>
                        <a href="lecture.html">KÉSZ - Életviteli előadások</a>
                        <a href="creativ-team.html">KÉSZ - Kreatív csoport</a>
                        
                        <h2>Egyeztetésre szorul</h2>
                        <hr>
                        <a href="reg.html">KÉSZ - Regisztráció</a>
                        <a href="login.html">KÉSZ - Bejelentkezés</a>
                        <a href="forgotten-pwd.html">KÉSZ - Elfelejtett jelszó</a>
                        <a href="magazin-list.html">KÉSZ - Magazin lista</a>
                        <a href="magazin-end.html">KÉSZ - Magazin adatlap</a>
                        <a href="tanulmany.html">KÉSZ - Tanulmány lista</a>
                        <a href="tanulmany-end.html">KÉSZ - Tanulmány adatlap</a>
                        <a href="profil.html">KÉSZ - Profil oldal</a>
                        <a href="rendeles-before.html">KÉSZ - Rendelés - before</a>
                        <a href="rendeles.html">KÉSZ - Rendelés</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
@@include('includes/_kert.html')
@@include('includes/_end.html')

