@@include('includes/_start.html', {
    "title": "Közép-Kelet-Európai Rekreációs Társaság",
    "keywords": "keyword1, keyword2, keyword3",
    "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit."
})
<body>
    <div class="wrapper">
@@include('includes/_header.html')
@@include('includes/_nav.html')
    <div class="content">
        @@include('includes/_headline.html', {
            "title": "Bejelentkezés",
            "second-li": "Társaság",
            "first-li": "Nyitóoldal",
            "selected": "Bejelentkezés"
        })
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6">
                    <div class="stat-text">Belépéshez szükséges bejelentkezési adatokat kérem adja meg! A bejelentkezés után tanulmányok és magazinok rendelhetők.</div>
                    <form action="" class="form">
                        <div class="form__item">
                            <label>E-mail cím</label>
                            <div class="form__group">
                                <input type="text" placeholder="E-mail cím">
                            </div>
                        </div>
                        <div class="form__item">
                            <label>Jelszó</label>
                            <div class="form__group">
                                <input type="text" placeholder="Jelszó">
                            </div>
                        </div>
                        <div class="form__item">
                            <input type="submit" value="Belépés" class="button">
                        </div>
                    </form>
                    <a href="javascript:void(false);" class="link">Elfelejtett jelszó</a>
                </div>
            </div>
        </div>
    </div>
@@include('includes/_end.html')