@@include('includes/_start.html', {
    "title": "Közép-Kelet-Európai Rekreációs Társaság",
    "keywords": "keyword1, keyword2, keyword3",
    "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit."
})

<body>
    <div class="wrapper">
@@include('includes/_header.html')
@@include('includes/_nav.html')
    <div class="content magazin-end">
        @@include('includes/_headline.html', {
            "title": "Tudományos magazinok",
            "second-li": "Társaság",
            "first-li": "Nyitóoldal",
            "selected": "Tudományos magazinok"
        })
        <div class="two-part">
            <div class="two-part__main">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="magazin-year">
                                <span>
                                    IV. Évfolyam 1.szám
                                </span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="magazin-data">
                                <div class="magazin-data__row">
                                    <div class="magazin-data__title">Főszerkesztő</div>
                                    <div class="magazin-data__content">
                                        Dr. Fritz Péter
                                    </div>
                                </div>
                                <div class="magazin-data__row">
                                    <div class="magazin-data__title">Szerkesztőbizottság
                                        <hr>
                                        <div class="magazin-data__info">
                                                A szerkesztőre rákattintva megtekinthető az adatlapja 
                                        </div>
                                    </div>
                                    <div class="magazin-data__content">
                                        <a href="javascript:void(false);" target="_blank">Dr. habil. Wilhelm Márta</a>
                                        <a href="javascript:void(false);" target="_blank">prof. Jaromír Šimonek</a>
                                        <a href="javascript:void(false);" target="_blank">prof. Radák Zsolt MTA doktor</a>
                                        <a href="javascript:void(false);" target="_blank">prof. emeritus Bárdos Jenő MTA doktor</a>
                                        <a href="javascript:void(false);" target="_blank">Dr. Baráth László</a>
                                        <a href="javascript:void(false);" target="_blank">Dr. Barnai Mária</a>
                                        <a href="javascript:void(false);" target="_blank">Dr. Béres Sándor</a>
                                        <a href="javascript:void(false);" target="_blank">Dr. Darabos Ferenc</a>
                                        <a href="javascript:void(false);" target="_blank">Erdős Tímea</a>
                                        <a href="javascript:void(false);" target="_blank">Dr. Honfi László</a>
                                        <a href="javascript:void(false);" target="_blank">Dr. Kolomietc Olga Ivanovna</a>
                                        <a href="javascript:void(false);" target="_blank">Dr. Polgár Tibor</a>
                                        <a href="javascript:void(false);" target="_blank">Dr. Rétsági Erzsébet</a>
                                        <a href="javascript:void(false);" target="_blank">Dr. Tóth Ákos</a>
                                        <a href="javascript:void(false);" target="_blank">Dr. Viczay Ildikó </a>
                                    </div>
                                </div>
                                <div class="magazin-data__row">
                                    <div class="magazin-data__title">Nyelv</div>
                                    <div class="magazin-data__content">
                                        magyar, angol
                                    </div>
                                </div>
                                <div class="magazin-data__row">
                                    <div class="magazin-data__title">Alapítva</div>
                                    <div class="magazin-data__content">
                                        2011
                                    </div>
                                </div>
                                <div class="magazin-data__row">
                                    <div class="magazin-data__title">Papír ISSN</div>
                                    <div class="magazin-data__content">
                                        2064-4981
                                    </div>
                                </div>
                                <div class="magazin-data__row">
                                    <div class="magazin-data__title">Online ISSN</div>
                                    <div class="magazin-data__content">
                                        2064-4981
                                    </div>
                                </div>
                                <div class="magazin-data__row">
                                    <div class="magazin-data__title">Szerkesztőség címe</div>
                                    <div class="magazin-data__content">
                                        6723 Szeged, Csaba utca 48/A
                                    </div>
                                </div>
                                <div class="magazin-data__row">
                                    <div class="magazin-data__title">Megjelenés éve</div>
                                    <div class="magazin-data__content">
                                        2018
                                    </div>
                                </div>
                                <div class="magazin-data__row">
                                    <div class="magazin-data__title">Tervezett kötetek</div>
                                    <div class="magazin-data__content">
                                        4
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="magazin-year">Tartalomjegyzék</div>
                        </div>
                        <div class="col-12">
                            <div class="magazin-data">
                                <div class="magazin-data__abstract">
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                         Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                          when an unknown printer took a galley of type and scrambled it to make a
                                          type specimen book. It has survived not only five centuries, but also the 
                                          leap into electronic typesetting, remaining essentially unchanged. It was
                                           popularised in the 1960s with the release of Letraset sheets containing 
                                           Lorem Ipsum passages, and more recently with desktop publishing software
                                           like Aldus PageMaker including versions of Lorem Ipsum.

                                    </p>
                                    <p>
                                        Why do we use it?
                                        It is a long established fact that a reader will be distracted by the 
                                        readable content of a page when looking at its layout. The point of using 
                                        Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                                         as opposed to using 'Content here, content here', making it look like 
                                         readable English. Many desktop publishing packages and web page editors
                                          now use Lorem Ipsum as their default model text, and a search for 'lorem 
                                          ipsum' will uncover many web sites still in their infancy. Various versions
                                           have evolved over the years, sometimes by accident, sometimes on purpose 
                                           (injected humour and the like).                               
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="magazin-year">Tanulmányok</div>
                        </div>
                        <div class="col-12">
                            <div class="magazin-data">
                                <div class="magazin-data__row">
                                    <div class="magazin-data__title">
                                        <a href="javascript:void(false);"><i class="fas fa-sign-in-alt"></i>Részletek</a>
                                    </div>
                                    <div class="magazin-data__content">
                                        <a href="javascript:void(false;)" class="study-image">
                                            <img src="../web/images/magazin.png" alt="Tanulmány alt">
                                        </a>
                                        A rekreációs szakemberek iránti kereslet a hazai munkaerőpiacon az
                                         üzleti szektorban 2009-2010 között
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="two-part__sidebar">
                <div class="sidebar-box">
                    <div class="sidebar-box__magazin">
                        <img src="../web/images/magazin.png" alt="">
                        <a href="javascript:void(false);" class="magazin__btn" target="_blank"><i class="fas fa-eye"></i>Megtekintés</a>
                    </div>
                </div>
                <div class="text-center mb-2"><b>Ár: 790 Ft</b></div>
                <div class="sidebar-box sidebar-box--mobil-d-none">
                    <a href="javascript:void(false);" class="button"><i class="fas fa-shopping-cart"></i>Kosárba</a>
                </div>
            </div>
        </div>
    </div>
@@include('includes/_end.html')

