@@include('includes/_start.html', {
    "title": "Közép-Kelet-Európai Rekreációs Társaság",
    "keywords": "keyword1, keyword2, keyword3",
    "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit."
})

<body>
    <div class="wrapper">
@@include('includes/_header.html')
@@include('includes/_nav.html')
    <div class="content">
        @@include('includes/_headline.html', {
            "title": "Tudományos magazinok",
            "second-li": "Társaság",
            "first-li": "Nyitóoldal",
            "selected": "Tudományos magazinok"
        })
        <div class="two-part">
            <div class="two-part__main">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="magazin-nav">
                                <div class="magazin-nav__info">
                                    <span>jelenlegi oldal: 2</span>
                                    <span>összes oldal: 2</span>
                                </div>
                                <div class="magazin-nav__prev">
                                    <img src="../web/images/prev.svg" alt="">
                                </div>
                                <div class="magazin-nav__next">
                                    <img src="../web/images/next.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="magazin-year">IV. Évfolyam</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                            <div class="magazin">
                                <div class="magazin__img">
                                    <div class="flag">Rendelhető</div>
                                    <img src="../web/images/16decbor.png" alt="">
                                    <a href="javascript:void(false);" class="magazin__btn">Adatlap</a>
                                    <a href="javascript:void(false);" class="magazin__btn">Kosárba</a>
                                </div>
                                <a href="javasript:void(false);" class="magazin__title">1.szám</a>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                            <div class="magazin">
                                <div class="magazin__img">
                                    <div class="flag">Rendelhető</div>
                                    <img src="../web/images/16decbor.png" alt="">
                                    <a href="javascript:void(false);" class="magazin__btn">Adatlap</a>
                                    <a href="javascript:void(false);" class="magazin__btn">Kosárba</a>
                                </div>
                                <a href="javasript:void(false);" class="magazin__title">1.szám</a>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                            <div class="magazin">
                                <div class="magazin__img">
                                    <img src="../web/images/16decbor.png" alt="">
                                    <a href="javascript:void(false);" class="magazin__btn">Adatlap</a>
                                    <a href="javascript:void(false);" class="magazin__btn">Kosárba</a>
                                </div>
                                <a href="javasript:void(false);" class="magazin__title">1.szám</a>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                            <div class="magazin">
                                <div class="magazin__img">
                                    <img src="../web/images/16decbor.png" alt="">
                                    <a href="javascript:void(false);" class="magazin__btn">Adatlap</a>
                                    <a href="javascript:void(false);" class="magazin__btn">Kosárba</a>
                                </div>
                                <a href="javasript:void(false);" class="magazin__title">1.szám</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="magazin-year">III. Évfolyam</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                            <div class="magazin">
                                <div class="magazin__img">
                                    <img src="../web/images/16decbor.png" alt="">
                                    <a href="javascript:void(false);" class="magazin__btn">Adatlap</a>
                                    <a href="javascript:void(false);" class="magazin__btn">Kosárba</a>
                                </div>
                                <a href="javasript:void(false);" class="magazin__title">1.szám</a>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                            <div class="magazin">
                                <div class="magazin__img">
                                    <img src="../web/images/16decbor.png" alt="">
                                    <a href="javascript:void(false);" class="magazin__btn">Adatlap</a>
                                    <a href="javascript:void(false);" class="magazin__btn">Kosárba</a>
                                </div>
                                <a href="javasript:void(false);" class="magazin__title">1.szám</a>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                            <div class="magazin">
                                <div class="magazin__img">
                                    <img src="../web/images/16decbor.png" alt="">
                                    <a href="javascript:void(false);" class="magazin__btn">Adatlap</a>
                                    <a href="javascript:void(false);" class="magazin__btn">Kosárba</a>
                                </div>
                                <a href="javasript:void(false);" class="magazin__title">1.szám</a>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                            <div class="magazin">
                                <div class="magazin__img">
                                    <img src="../web/images/16decbor.png" alt="">
                                    <a href="javascript:void(false);" class="magazin__btn">Adatlap</a>
                                    <a href="javascript:void(false);" class="magazin__btn">Kosárba</a>
                                </div>
                                <a href="javasript:void(false);" class="magazin__title">1.szám</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="two-part__sidebar">
                <div class="sidebar-box sidebar-box--mobil-d-none">
                    <div class="sidebar-box__title">Eseménynaptár</div>
                    <div id="my-calendar"></div>
                </div>
                <div class="sidebar-box sidebar-box--mobil-d-none">
                    <div class="sidebar-box__title">Közlési feltételek</div> 
                </div>
            </div>
        </div>
    </div>
@@include('includes/_end.html')

