@@include('includes/_start.html', {
    "title": "Közép-Kelet-Európai Rekreációs Társaság",
    "keywords": "keyword1, keyword2, keyword3",
    "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit."
})
<body>
    <div class="wrapper">
@@include('includes/_header.html')
@@include('includes/_nav.html')
    <div class="content">
        @@include('includes/_headline.html', {
            "title": "Események",
            "first-li": "Nyitóoldal",
            "selected": "Események"
        })
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <form action="">
                        <div class="form__item">
                            <label></label>
                            <div class="form__group">
                                <select name="" id="" class="js-example-basic-single">
                                    <option value="0">Összes</option>
                                    <option value="1">Szeged</option>
                                    <option value="2">Budapest</option>
                                    <option value="3">Miskolc</option>
                                    <option value="4">Szombathely</option>
                                    <option value="5">Pécs</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="news-item">
                        <img class="news-item__image" src="http://via.placeholder.com/333x194" alt="">
                        <span class="news-item__title">A globalizáció és a változás hatása az emberi erőforrás menedzsment funkciókra</span>
                        <span class="news-item__date">2018.10.11. 14:20 - 2018.10.22 14:30</span>
                        <p class="news-item__lead">
                            Kovács Tamás Attila számos hazai publikáció szerzője a rekreáció, sport, edzéstan, rekreációs szakmai oktatás témáiban
                        </p>
                        <a href="#" class="news-item__more">Részletek</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="news-item">
                        <img class="news-item__image" src="http://via.placeholder.com/333x194" alt="">
                        <span class="news-item__title">A globalizáció és a változás hatása az emberi erőforrás menedzsment funkciókra</span>
                        <span class="news-item__date">2018.10.11. 14:20 - 2018.10.22 14:30</span>
                        <p class="news-item__lead">
                            Kovács Tamás Attila számos hazai publikáció szerzője a rekreáció, sport, edzéstan, rekreációs szakmai oktatás témáiban
                        </p>
                        <a href="#" class="news-item__more">Részletek</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="news-item">
                        <img class="news-item__image" src="http://via.placeholder.com/333x194" alt="">
                        <span class="news-item__title">A globalizáció és a változás hatása az emberi erőforrás menedzsment funkciókra</span>
                        <span class="news-item__date">2018.10.11. 14:20 - 2018.10.22 14:30</span>
                        <p class="news-item__lead">
                            Kovács Tamás Attila számos hazai publikáció szerzője a rekreáció, sport, edzéstan, rekreációs szakmai oktatás témáiban
                        </p>
                        <a href="#" class="news-item__more">Részletek</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="news-item">
                        <img class="news-item__image" src="http://via.placeholder.com/333x194" alt="">
                        <span class="news-item__title">A globalizáció és a változás hatása az emberi erőforrás menedzsment funkciókra</span>
                        <span class="news-item__date">2018.10.11. 14:20 - 2018.10.22 14:30</span>
                        <p class="news-item__lead">
                            Kovács Tamás Attila számos hazai publikáció szerzője a rekreáció, sport, edzéstan, rekreációs szakmai oktatás témáiban
                        </p>
                        <a href="#" class="news-item__more">Részletek</a>
                    </div>
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="pagination justify-content-center">
                        <div class="pagination__wrapper">
                            <a class="pagination__btn-wrapper">1</a>
                            <span class="pagination__btn-wrapper pagination__btn-wrapper__more">...</span>			   
                            <a class="pagination__btn-wrapper pagination__btn-wrapper__prev"></a>
                                <a class="pagination__btn-wrapper">1.</a>
                                
                                <a href="" class="pagination__btn-wrapper pagination__btn-wrapper__current">2.</a>
                                
                            <a href="" class="pagination__btn-wrapper pagination__btn-wrapper__next"></a>
                            <span class="pagination__btn-wrapper pagination__btn-wrapper__more">...</span>
                            <a href="" class="pagination__btn-wrapper">2</a>
                            <form class="pagination__form" action="" method="GET">	    
                                <input type="number" name="o">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@@include('includes/_end.html')