@@include('includes/_start.html', {
    "title": "Közép-Kelet-Európai Rekreációs Társaság",
    "keywords": "keyword1, keyword2, keyword3",
    "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit."
})
<body>
    <div class="wrapper">
@@include('includes/_header.html')
@@include('includes/_nav.html')
    <div class="content">
        @@include('includes/_headline.html', {
            "title": "Média hírek",
            "first-li": "Nyitóoldal",
            "second-li": "Statikus",
            "selected": "Média hírek"
        })
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4 text-center">
                    <img class="news-item__image" src="http://via.placeholder.com/333x194" alt="">
                </div>
                <div class="col-12 col-lg-8">
                    <span class="news-item__title">Tiszteletbeli Tagunk: Kovács Tamás Attila</span>
                    <span class="news-item__date">2018.10.11. 14:20</span>
                    <p class="news-item__lead">
                        Kovács Tamás Attila számos hazai publikáció szerzője a rekreáció, sport, edzéstan, rekreációs szakmai oktatás témáiban
                    </p>
                    <div class="editor-text stat-text">
                        <p>Kovács Tamás Attila számos hazai publikáció szerzője
                                a rekreáció, sport, edzéstan, rekreációs szakmai oktatás 
                                témáiban. Többek között az ő nevéhez kapcsolódik, hogy a 
                                rekreáció a magyar felsőoktatásba önálló területként be tudott 
                                integrálódni, elsőként az ELTE TFK testnevelés-rekreáció tanári 
                                szakpáros képzés formájában. A sísport tekintetében a hazai és 
                                nemzetközi válogatottak mellett is hosszú évekig edzősködött,
                                de ennek rekreációs vonulatát és oktatását is elősegítette munkásságával.
                        </p>  
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 ">
                    
                </div>
            </div>
        </div>
        @@include('includes/_attachments.html')
    </div>

@@include('includes/_end.html')