@@include('includes/_start.html', {
    "title": "Közép-Kelet-Európai Rekreációs Társaság",
    "keywords": "keyword1, keyword2, keyword3",
    "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit."
})
<body>
    <div class="wrapper">
    @@include('includes/_header.html')
    @@include('includes/_nav.html')
    <div class="content">
        @@include('includes/_headline.html', {
            "title": "Regisztráció",
            "second-li": "Társaság",
            "first-li": "Nyitóoldal",
            "selected": "Regisztráció"
        })
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6">
                    <div class="stat-text">Regisztrációhoz szükséges instrukciós szöveg</div>
                    <form action="" class="form" id="formRegistration" name="formRegistration">
                        <div class="form__item" style="display: inline-block; line-height: 20px; padding-right: 10px;">
                            <div class="form__group">
                                <label>
                                    <input type="radio" id="personRadio" name="personOrCompany" value="Magánszemély" checked>
                                    Magánszemély
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form__item" style="display: inline-block; line-height: 20px;">
                            <div class="form__group">
                                <label>Cég
                                    <input type="radio" id="companyRadio" name="personOrCompany" value="Cég">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form__item">
                            <label>Vezetéknév *</label>
                            <div class="form__alert">A mező kitöltése kötelező!</div>
                            <div class="form__group">
                                <input type="text" id="formRegistrationLastName" placeholder="Vezetéknév">
                            </div>
                        </div>
                        <div class="form__item">
                            <label>Keresztnév *</label>
                            <div class="form__group">
                                <input type="text" id="formRegistrationFirstName" placeholder="Keresztnév">
                            </div>
                        </div>
                        <div class="form__item">
                            <label>Cégnév *</label>
                            <div class="form__group">
                                <input type="text" id="formRegistrationCompany" placeholder="Cégnév">
                            </div>
                        </div>
                        <div class="form__item">
                            <label>E-mail cím *</label>
                            <div class="form__group">
                                <input type="text" placeholder="E-mail cím">
                            </div>
                        </div>
                        <div class="form__item">
                            <label>Telefonszám *</label>
                            <div class="form__group">
                                <input type="text" placeholder="Telefonszám">
                            </div>
                        </div>
                        <div class="form__item">
                            <label>Ország *</label>
                            <div class="form__group">
                                <input type="text" value="Magyarország" disabled>
                            </div>
                        </div>
                        <div class="form__item">
                            <label>Irányítószám *</label>
                            <div class="form__group">
                                <input type="text" placeholder="Irányító szám">
                            </div>
                        </div>
                        <div class="form__item">
                            <label>Város *</label>
                            <div class="form__group">
                                <input type="text" placeholder="Város">
                            </div>
                        </div>
                        <div class="form__item">
                            <label>Utca *</label>
                            <div class="form__group">
                                <input type="text" placeholder="Utca">
                            </div>
                        </div>
                        <div class="form__item">
                            <label>Házszám *</label>
                            <div class="form__group">
                                <input type="text" placeholder="Házszám">
                            </div>
                        </div>
                        <div class="form__item">
                            <label>Adószám *</label>
                            <div class="form__group">
                                <input type="text" id="taxNumber" placeholder="Adószám">
                            </div>
                        </div>
                        <div class="form__item">
                            <label>Jelszó *</label>
                            <div class="form__group">
                                <input type="text" placeholder="Jelszó">
                            </div>
                        </div>
                        <div class="form__item">
                            <label>Jelszó megerősítése *</label>
                            <div class="form__group">
                                <input type="text" placeholder="Jelszó megerősítése">
                            </div>
                        </div>
                        <div class="form__item">
                            <input type="submit" value="Regisztráció" class="button">
                        </div>
                    </form>
                    <a href="javascript:void(false);" class="link">Vissza a bejelentkezéshez</a>
                </div>
            </div>
        </div>
    </div>
@@include('includes/_end.html')