@@include('includes/_start.html', {
"title": "Közép-Kelet-Európai Rekreációs Társaság",
"keywords": "keyword1, keyword2, keyword3",
"description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit."
})
<body>
<div class="wrapper">
    @@include('includes/_header.html')
    @@include('includes/_nav.html')
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center stat-text">
                    <h3>A megrendeléshez, kérjük jelentkezzen be!</h3><br>Amennyiben még nem regisztrált tegye meg most. <br>A regisztráció ingyenes és csak pár percet vesz igénybe.
                    <br><br><b>A rendelés csak magyarországi címre lehetséges postai megrendeléssel!</b>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <a href="javascript:void(false);" class="button d-inline-block">Bejelentkezés</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
@@include('includes/_end.html')