@@include('includes/_start.html', {
"title": "Közép-Kelet-Európai Rekreációs Társaság",
"keywords": "keyword1, keyword2, keyword3",
"description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit."
})
<body>
<div class="wrapper">
    @@include('includes/_header.html')
    @@include('includes/_nav.html')
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="headline">
                        <div class="headline__title">Rendelés</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-md-10 col-xl-8">
                    <div class="stat-text">
                        <p>Kérjük a rendelés leadása előtt válassza ki a magazinoknál,
                            hogy online vagy nyomtatott + Online formában, illetve a kiválasztott
                            tanulmányt mely nyelveken szeretné!
                        </p>
                        <b>Fontos: Online formában a postaköltség magazinonként 250Ft !</b>
                    </div>
                </div>
            </div>
            <div class="row mb-5 d-flex justify-content-center">
                <div class="col-12 col-md-10 col-xl-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">Magazinok</div>
                            <hr>
                            <div class="order-page__row">
                                <div>
                                    <div class="order-page__title">V. évfolyam 4.szám</div>
                                    <a href="javascript:void(false);" class="order-page__link"><i class="fas fa-times"></i>Törlöm a kosárból</a>
                                </div>
                                <div class="order-page__quantity">
                                    <div class="form__row" style="width: 50px;">
                                        <div class="form__item">
                                            <div class="form__group">
                                                <input type="number" value="1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="order-page__price">
                                        <span>
                                            750 Ft
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="order-page__row">
                                <div>
                                    <div class="order-page__title">V. évfolyam 4.szám</div>
                                    <a href="javascript:void(false);" class="order-page__link"><i class="fas fa-times"></i>Törlöm a kosárból</a>
                                </div>
                                <div class="order-page__quantity">
                                    <div class="form__row" style="width: 50px;">
                                        <div class="form__item">
                                            <div class="form__group">
                                                <input type="number" value="1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="order-page__price">
                                        <span>
                                            750 Ft
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="order-page__row">
                                <div>
                                    <div class="order-page__title">V. évfolyam 4.szám</div>
                                    <a href="javascript:void(false);" class="order-page__link"><i class="fas fa-times"></i>Törlöm a kosárból</a>
                                </div>
                                <div class="order-page__quantity">
                                    <div class="form__row" style="width: 50px;">
                                        <div class="form__item">
                                            <div class="form__group">
                                                <input type="number" value="1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="order-page__price">
                                        <span>
                                            750 Ft
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-5 d-flex justify-content-center">
                <div class="col-12 col-md-10 col-xl-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                Általános adatok
                            </div>
                            <hr>
                            <form action="" class="form">
                                <div class="form__row">
                                    <div class="form__item " style="max-width: 150px; display: inline-block; line-height: 20px; padding-right: 10px;">
                                        <div class="form__group">
                                            <label>
                                                <input type="radio" id="personRadio" name="personOrCompany" value="Magánszemély"
                                                       checked>
                                                Magánszemély
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form__item" style="max-width: 150px; display: inline-block; line-height: 20px;">
                                        <div class="form__group">
                                            <label>Cég
                                                <input type="radio" id="companyRadio" name="personOrCompany" value="Cég">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form__row">
                                    <div class="form__item mx-width300">
                                        <label>Vezetéknév *</label>
                                        <div class="form__group">
                                            <input type="text" id="formRegistrationLastName" placeholder="Vezetéknév">
                                        </div>
                                    </div>
                                    <div class="form__item mx-width300">
                                        <label>Keresztnév *</label>
                                        <div class="form__group">
                                            <input type="text" id="formRegistrationFirstName" placeholder="Keresztnév">
                                        </div>
                                    </div>
                                </div>
                                <div class="form__row">
                                    <div class="form__item mx-width300">
                                        <label>Cégnév *</label>
                                        <div class="form__group">
                                            <input type="text" id="formRegistrationCompany" placeholder="Cégnév">
                                        </div>
                                    </div>
                                    <div class="form__item mx-width300">
                                        <label>Adószám *</label>
                                        <div class="form__group">
                                            <input type="text" id="taxNumber" placeholder="Adószám">
                                        </div>
                                    </div>
                                </div>
                                <div class="form__row">
                                    <div class="form__item mx-width300">
                                        <label>E-mail cím *</label>
                                        <div class="form__group">
                                            <input type="text" placeholder="E-mail cím">
                                        </div>
                                    </div>
                                    <div class="form__item mx-width300">
                                        <label>Telefonszám *</label>
                                        <div class="form__group">
                                            <input type="text" placeholder="Telefonszám">
                                        </div>
                                    </div>
                                </div>
                                <div class="form__row">
                                    <div class="form__item" style="max-width: 165px;">
                                        <label>Ország *</label>
                                        <div class="form__group">
                                            <input type="text" value="Magyarország" disabled>
                                        </div>
                                    </div>
                                    <div class="form__item" style="max-width: 110px;">
                                        <label>Irányítószám *</label>
                                        <div class="form__group">
                                            <input type="text" placeholder="Irányító szám">
                                        </div>
                                    </div>
                                </div>
                                <div class="form__row">
                                    <div class="form__item" style="max-width: 165px;">
                                        <label>Város *</label>
                                        <div class="form__group">
                                            <input type="text" placeholder="Város">
                                        </div>
                                    </div>
                                    <div class="form__item" style="max-width: 200px;">
                                        <label>Utca *</label>
                                        <div class="form__group">
                                            <input type="text" placeholder="Utca">
                                        </div>
                                    </div>
                                    <div class="form__item" style="max-width: 100px;">
                                        <label>Házszám *</label>
                                        <div class="form__group">
                                            <input type="text" placeholder="Házszám">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-title mt-5">Átvételi mód</div>
                                <hr>
                                <div class="form__row">
                                    <div class="form__item">
                                        <div class="form__group">
                                            <label>
                                                Posta
                                                <input type="checkbox" id="postal">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form__row">
                                    <div class="form__item">
                                        <div class="form__group">
                                            <label>
                                                Személyes átvétel
                                                <input type="checkbox" id="personalReceipt">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form__row">
                                    <div class="form__item mt-2">
                                        <div class="form__group">
                                            <label>
                                                A postázási adatok különböznek a számlázási adatoktól.
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-title mt-4">Személyes átvétel - Városok</div>
                                <hr>
                                <div class="form__row">
                                    <div class="form__item">
                                        <div class="form__group">
                                            <label>
                                                <input type="radio" name="Budapest" value="Budapest"
                                                       checked>
                                                Budapest
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form__row">
                                    <div class="form__item">
                                        <div class="form__group">
                                            <label>
                                                <input type="radio" name="Szeged" value="Szeged">
                                                Szeged
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form__row">
                                    <div class="form__item">
                                        <div class="form__group">
                                            <label>
                                                <input type="radio" name="Szombathely" value="Szombathely">
                                                Szombathely
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form__row">
                                    <div class="form__item">
                                        <div class="form__group">
                                            <label>
                                                <input type="radio" name="Miskolc" value="Miskolc">
                                                Miskolc
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form__row">
                                    <div class="form__item">
                                        <div class="form__group">
                                            <label>
                                                <input type="radio" name="Pécs" value="Pécs">
                                                Pécs
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-title mt-4">Postázási adatok</div>
                                <hr>
                                <div class="form__row">
                                    <div class="form__item mx-width300">
                                        <label>Postázási név</label>
                                        <div class="form__group">
                                            <input type="text" placeholder="Postázási név">
                                        </div>
                                    </div>
                                </div>
                                <div class="form__row">
                                    <div class="form__item mx-width300">
                                        <label>Postázási cím</label>
                                        <div class="form__group">
                                            <input type="text" placeholder="Postázási cím">
                                        </div>
                                    </div>
                                </div>
                                <div class="order-page__delivery mt-3">
                                    <span>Postázási költség:</span>
                                    <span>5x 250 Ft</span>
                                </div>
                                <hr>
                                <div class="order-page__summary">
                                    <span>Összesen fizetendő:</span>
                                    <span>4 000 Ft</span>
                                </div>
                                <div class="form__item mt-3 mb-3">
                                    <div class="form__group">
                                        <label>
                                            Az <a href="javascript:void(false);" target="_blank">adatvédelmi nyilatkozatot</a> és az <a href="javascript:void(false);" target="_blank">ászf-t</a> elfogadom
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                <button type="submit" class="button">Megrendelem</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @@include('includes/_end.html')