@@include('includes/_start.html', {
    "title": "Közép-Kelet-Európai Rekreációs Társaság",
    "keywords": "keyword1, keyword2, keyword3",
    "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit."
})

<body>
    <div class="wrapper">
@@include('includes/_header.html')
@@include('includes/_nav.html')
    <div class="content">
        @@include('includes/_headline.html', {
            "title": "Szponzorok",
            "first-li": "Nyitóoldal",
            "selected": "Szponzorok"
        })
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 control-btn-container" id="control-btn-container">
                    <span class="btn active" onclick="filterSelection('all')">Összes</span>
                    <span class="btn" onclick="filterSelection('cat1')">Szakmai Partnerek</span>
                    <span class="btn" onclick="filterSelection('cat2')">Együttműködő partnerek</span>
                    <span class="btn" onclick="filterSelection('cat3')">Mádiatámogatók</span>
                    <span class="btn" onclick="filterSelection('cat4')">Arany fokozatú támogató</span>
                    <span class="btn" onclick="filterSelection('cat5')">Ezüst fokozatú támogató</span>
                    <span class="btn" onclick="filterSelection('cat6')">Egri támogatók</span>
                </div>
                <div class="sponzor cat1">
                    <div class="sponzor__image">
                        <img src="http://via.placeholder.com/300x185" alt="">
                    </div>
                    <div class="sponzor__title">Universitatea De stiinte agricole
                        si medicina veterinara a 
                        banatului timisoara USAMVBT
                    </div>
                </div>
    
                <div class="sponzor cat2">
                    <div class="sponzor__image">
                        <img src="http://via.placeholder.com/300x185" alt="">
                    </div>
                    <div class="sponzor__title">cat2</div>
                </div>
    
                <div class="sponzor cat3">
                    <div class="sponzor__image">
                        <img src="http://via.placeholder.com/300x185" alt="">
                    </div>
                    <div class="sponzor__title">cat3</div>
                </div>
    
                <div class="sponzor cat4">
                    <div class="sponzor__image">
                        <img src="http://via.placeholder.com/300x185" alt="">
                    </div>
                    <div class="sponzor__title">cat4</div>
                </div>
    
                <div class="sponzor cat5">
                    <div class="sponzor__image">
                        <img src="http://via.placeholder.com/300x185" alt="">
                    </div>
                    <div class="sponzor__title">cat5</div>
                </div>
    
                <div class="sponzor cat6">
                    <div class="sponzor__image">
                        <img src="http://via.placeholder.com/300x185" alt="">
                    </div>
                    <div class="sponzor__title">cat6</div>
                </div>
            </div>
        </div>
    </div>
@@include('includes/_end.html')

