@@include('includes/_start.html', {
    "title": "Közép-Kelet-Európai Rekreációs Társaság",
    "keywords": "keyword1, keyword2, keyword3",
    "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit."
})

<body>
    <div class="wrapper">
@@include('includes/_header.html')
@@include('includes/_nav.html')
    <div class="content">
        @@include('includes/_headline.html', {
            "title": "Munkatársak",
            "first-li": "Nyitóoldal",
            "second-li": "Társaság",
            "selected": "Munkatársak"
        })
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="staff">
                        <a class="staff__img">
                            <img src="../web/images/user-placeholder.jpg" alt="">
                        </a>
                        <span class="staff__name">Dr. Fritz Péter</span>
                        <span class="staff__titulus">Elnök</span>
                        <span class="staff__mail">
                            <a href="mailto:fritzpeter@recreationcentral.eu">fritzpeter@recreationcentral.eu</a>
                        </span>
                        <a class="staff__more">részletek</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="staff">
                        <a class="staff__img">
                            <img src="../web/images/user-placeholder.jpg" alt="">
                        </a>
                        <span class="staff__name">Dr. Fritz Péter</span>
                        <span class="staff__titulus">Elnök</span>
                        <span class="staff__mail">
                            <a href="mailto:fritzpeter@recreationcentral.eu">fritzpeter@recreationcentral.eu</a>
                        </span>
                        <a class="staff__more">részletek</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="staff">
                        <a class="staff__img">
                            <img src="../web/images/user-placeholder.jpg" alt="">
                        </a>
                        <span class="staff__name">Dr. Fritz Péter</span>
                        <span class="staff__titulus">Elnök</span>
                        <span class="staff__mail">
                            <a href="mailto:fritzpeter@recreationcentral.eu">fritzpeter@recreationcentral.eu</a>
                        </span>
                        <a class="staff__more">részletek</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="staff">
                        <a class="staff__img">
                            <img src="../web/images/user-placeholder.jpg" alt="">
                        </a>
                        <span class="staff__name">Dr. Fritz Péter</span>
                        <span class="staff__titulus">Elnök</span>
                        <span class="staff__mail">
                            <a href="mailto:fritzpeter@recreationcentral.eu">fritzpeter@recreationcentral.eu</a>
                        </span>
                        <a class="staff__more">részletek</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="staff">
                        <a class="staff__img">
                            <img src="../web/images/user-placeholder.jpg" alt="">
                        </a>
                        <span class="staff__name">Dr. Fritz Péter</span>
                        <span class="staff__titulus">Elnök</span>
                        <span class="staff__mail">
                            <a href="mailto:fritzpeter@recreationcentral.eu">fritzpeter@recreationcentral.eu</a>
                        </span>
                        <a class="staff__more">részletek</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="staff">
                        <a class="staff__img">
                            <img src="../web/images/user-placeholder.jpg" alt="">
                        </a>
                        <span class="staff__name">Dr. Fritz Péter</span>
                        <span class="staff__titulus">Elnök</span>
                        <span class="staff__mail">
                            <a href="mailto:fritzpeter@recreationcentral.eu">fritzpeter@recreationcentral.eu</a>
                        </span>
                        <a class="staff__more">részletek</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

@@include('includes/_end.html')

