@@include('includes/_start.html', {
    "title": "Közép-Kelet-Európai Rekreációs Társaság",
    "keywords": "keyword1, keyword2, keyword3",
    "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit."
})

<body>
    <div class="wrapper">
@@include('includes/_header.html')
@@include('includes/_nav.html')
    <div class="content">
        @@include('includes/_headline.html', {
            "title": "Munkatársak",
            "first-li": "Nyitóoldal",
            "second-li": "Társaság",
            "selected": "Munkatársak"
        })
        <div class="container">
            <div class="row justify-content-sm-center">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="staff">
                        <a class="staff__img">
                            <img src="../web/images/staff.png" alt="">
                        </a>
                        <span class="staff__name">Dr. Fritz Péter</span>
                        <span class="staff__titulus">Elnök</span>
                        <span class="staff__mail">
                            <a href="mailto:fritzpeter@recreationcentral.eu">fritzpeter@recreationcentral.eu</a>
                        </span>
                        <a class="staff__more">részletek</a>
                    </div>
                </div>
                <div class="col-12 col-md-8 col-lg-9">
                    <div class="editor-text stat-text">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since 
                                    the 1500s, when an unknown printer took a galley of type and 
                                    scrambled it to make a type specimen book. It has survived 
                                    not only five centuries, but also the leap into electronic 
                                    typesetting, remaining essentially unchanged. It was popularised 
                                    in the 1960s with the release of Letraset sheets containing Lorem 
                                    Ipsum passages, and more recently with desktop publishing software
                                    like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since 
                                    the 1500s, when an unknown printer took a galley of type and 
                                    scrambled it to make a type specimen book. It has survived 
                                    not only five centuries, but also the leap into electronic 
                                    typesetting, remaining essentially unchanged. It was popularised 
                                    in the 1960s with the release of Letraset sheets containing Lorem 
                                    Ipsum passages, and more recently with desktop publishing software
                                        like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since 
                                    the 1500s, when an unknown printer took a galley of type and 
                                    scrambled it to make a type specimen book. It has survived 
                                    not only five centuries, but also the leap into electronic 
                                    typesetting, remaining essentially unchanged. It was popularised 
                                    in the 1960s with the release of Letraset sheets containing Lorem 
                                    Ipsum passages, and more recently with desktop publishing software
                                        like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

@@include('includes/_end.html')

