@@include('includes/_start.html', {
    "title": "Közép-Kelet-Európai Rekreációs Társaság",
    "keywords": "keyword1, keyword2, keyword3",
    "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit."
})
<body>
    <div class="wrapper">
@@include('includes/_header.html')
@@include('includes/_nav.html')
    <div class="content stat-page">
        @@include('includes/_headline.html', {
            "title": "Statikus oldalak",
            "first-li": "Nyitóoldal",
            "second-li": "Statikus",
            "selected": "Selected"
        })
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <div class="editor-text stat-text">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since 
                                the 1500s, when an unknown printer took a galley of type and 
                                scrambled it to make a type specimen book. It has survived 
                                not only five centuries, but also the leap into electronic 
                                typesetting, remaining essentially unchanged. It was popularised 
                                in the 1960s with the release of Letraset sheets containing Lorem 
                                Ipsum passages, and more recently with desktop publishing software
                                like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since 
                                the 1500s, when an unknown printer took a galley of type and 
                                scrambled it to make a type specimen book. It has survived 
                                not only five centuries, but also the leap into electronic 
                                typesetting, remaining essentially unchanged. It was popularised 
                                in the 1960s with the release of Letraset sheets containing Lorem 
                                Ipsum passages, and more recently with desktop publishing software
                                    like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since 
                                the 1500s, when an unknown printer took a galley of type and 
                                scrambled it to make a type specimen book. It has survived 
                                not only five centuries, but also the leap into electronic 
                                typesetting, remaining essentially unchanged. It was popularised 
                                in the 1960s with the release of Letraset sheets containing Lorem 
                                Ipsum passages, and more recently with desktop publishing software
                                    like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                    </div>
                </div>
            </div>
            @@include('includes/_attachments.html')
        </div>
    </div>
@@include('includes/_end.html')