@@include('includes/_start.html', {
    "title": "Közép-Kelet-Európai Rekreációs Társaság",
    "keywords": "keyword1, keyword2, keyword3",
    "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit."
})
<body>
    <div class="wrapper">
@@include('includes/_header.html')
@@include('includes/_nav.html')
    <div class="content">
        @@include('includes/_headline.html', {
            "title": "Tanulmányok",
            "first-li": "Nyitóoldal",
            "selected": "Tanulmányok"
        })
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="">
                        <div class="form__item" style="width: 80px;">
                            <select class="js-example-basic-single">
                                <option value="2019" selected>2019</option>
                                <option value="2018">2018</option>
                                <option value="2017">2017</option>
                                <option value="2016">2016</option>
                                <option value="2015">2015</option>
                                <option value="2014">2014</option>
                                <option value="2013">2013</option>
                                <option value="2012">2012</option>
                                <option value="2011">2011</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="study">
                        <div class="study__head">
                            <i class="fas fa-users"></i>Dr. habil. Fritz Péter, Ignits Dóra, Katona Sára
                        </div>
                        <a href="javascript:void(false);" class="study__title">🇭🇺 A szénhidrátok táplálkozás-élettani hatásai és a     sporttáplálkozásban betöltött szerepük</a>
                        <hr>
                        <a href="javascript:void(false);" class="study__title">🇬🇧 The nutritional and physiological effect of carbohydrates, their influences on sports nutrition</a>
                        <span class="study__doi"><a href="javascript:void(false);" class="link">10.21486/recreation.2018.8.4.2</a></span>
                        <a href="#" class="study__more">Bővebben</a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="study">
                        <div class="study__head">
                            <i class="fas fa-users"></i>Dr. habil. Fritz Péter, Ignits Dóra, Katona Sára
                        </div>
                        <a href="javascript:void(false);" class="study__title">🇭🇺 A szénhidrátok táplálkozás-élettani hatásai és a     sporttáplálkozásban betöltött szerepük</a>
                        <hr>
                        <a href="javascript:void(false);" class="study__title">🇬🇧 The nutritional and physiological effect of carbohydrates, their influences on sports nutrition</a>
                        <span class="study__doi"><a href="javascript:void(false);" class="link">10.21486/recreation.2018.8.4.2</a></span>
                        <a href="#" class="study__more">Bővebben</a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="study">
                        <div class="study__head">
                            <i class="fas fa-users"></i>Dr. habil. Fritz Péter, Ignits Dóra, Katona Sára
                        </div>
                        <a href="javascript:void(false);" class="study__title">🇭🇺 A szénhidrátok táplálkozás-élettani hatásai és a     sporttáplálkozásban betöltött szerepük</a>
                        <hr>
                        <a href="javascript:void(false);" class="study__title">🇬🇧 The nutritional and physiological effect of carbohydrates, their influences on sports nutrition</a>
                        <span class="study__doi"><a href="javascript:void(false);" class="link">10.21486/recreation.2018.8.4.2</a></span>
                        <a href="#" class="study__more">Bővebben</a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="study">
                        <div class="study__head">
                            <i class="fas fa-users"></i>Dr. habil. Fritz Péter, Ignits Dóra, Katona Sára
                        </div>
                        <a href="javascript:void(false);" class="study__title">🇭🇺 A szénhidrátok táplálkozás-élettani hatásai és a     sporttáplálkozásban betöltött szerepük</a>
                        <hr>
                        <a href="javascript:void(false);" class="study__title">🇬🇧 The nutritional and physiological effect of carbohydrates, their influences on sports nutrition</a>
                        <span class="study__doi"><a href="javascript:void(false);" class="link">10.21486/recreation.2018.8.4.2</a></span>
                        <a href="#" class="study__more">Bővebben</a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="study">
                        <div class="study__head">
                            <i class="fas fa-users"></i>Dr. habil. Fritz Péter, Ignits Dóra, Katona Sára
                        </div>
                        <a href="javascript:void(false);" class="study__title">🇭🇺 A szénhidrátok táplálkozás-élettani hatásai és a     sporttáplálkozásban betöltött szerepük</a>
                        <hr>
                        <a href="javascript:void(false);" class="study__title">🇬🇧 The nutritional and physiological effect of carbohydrates, their influences on sports nutrition</a>
                        <span class="study__doi"><a href="javascript:void(false);" class="link">10.21486/recreation.2018.8.4.2</a></span>
                        <a href="#" class="study__more">Bővebben</a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="study">
                        <div class="study__head">
                            <i class="fas fa-users"></i>Dr. habil. Fritz Péter, Ignits Dóra, Katona Sára
                        </div>
                        <a href="javascript:void(false);" class="study__title">🇭🇺 A szénhidrátok táplálkozás-élettani hatásai és a     sporttáplálkozásban betöltött szerepük</a>
                        <hr>
                        <a href="javascript:void(false);" class="study__title">🇬🇧 The nutritional and physiological effect of carbohydrates, their influences on sports nutrition</a>
                        <span class="study__doi"><a href="javascript:void(false);" class="link">10.21486/recreation.2018.8.4.2</a></span>
                        <a href="#" class="study__more">Bővebben</a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="study">
                        <div class="study__head">
                            <i class="fas fa-users"></i>Dr. habil. Fritz Péter, Ignits Dóra, Katona Sára
                        </div>
                        <a href="javascript:void(false);" class="study__title">🇭🇺 A szénhidrátok táplálkozás-élettani hatásai és a     sporttáplálkozásban betöltött szerepük</a>
                        <hr>
                        <a href="javascript:void(false);" class="study__title">🇬🇧 The nutritional and physiological effect of carbohydrates, their influences on sports nutrition</a>
                        <span class="study__doi"><a href="javascript:void(false);" class="link">10.21486/recreation.2018.8.4.2</a></span>
                        <a href="#" class="study__more">Bővebben</a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="study">
                        <div class="study__head">
                            <i class="fas fa-users"></i>Dr. habil. Fritz Péter, Ignits Dóra, Katona Sára
                        </div>
                        <a href="javascript:void(false);" class="study__title">🇭🇺 A szénhidrátok táplálkozás-élettani hatásai és a     sporttáplálkozásban betöltött szerepük</a>
                        <hr>
                        <a href="javascript:void(false);" class="study__title">🇬🇧 The nutritional and physiological effect of carbohydrates, their influences on sports nutrition</a>
                        <span class="study__doi"><a href="javascript:void(false);" class="link">10.21486/recreation.2018.8.4.2</a></span>
                        <a href="#" class="study__more">Bővebben</a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="study">
                        <div class="study__head">
                            <i class="fas fa-users"></i>Dr. habil. Fritz Péter, Ignits Dóra, Katona Sára
                        </div>
                        <a href="javascript:void(false);" class="study__title">&#x1F1ED;&#x1F1FA; A szénhidrátok táplálkozás-élettani hatásai és a     sporttáplálkozásban betöltött szerepük</a>
                        <hr>
                        <a href="javascript:void(false);" class="study__title"><img src="../web/images/huflag.png" alt=""> 222The nutritional and physiological effect of carbohydrates, their influences on sports nutrition</a>
                        <span class="study__doi"><a href="javascript:void(false);" class="link">10.21486/recreation.2018.8.4.2</a></span>
                        <a href="#" class="study__more">Bővebben</a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="study">
                        <div class="study__head">
                            <i class="fas fa-users"></i>Dr. habil. Fritz Péter, Ignits Dóra, Katona Sára
                        </div>
                        <a href="javascript:void(false);" class="study__title">🇭🇺 A szénhidrátok táplálkozás-élettani hatásai és a     sporttáplálkozásban betöltött szerepük</a>
                        <hr>
                        <a href="javascript:void(false);" class="study__title">🇬🇧 The nutritional and physiological effect of carbohydrates, their influences on sports nutrition</a>
                        <span class="study__doi"><a href="javascript:void(false);" class="link">10.21486/recreation.2018.8.4.2</a></span>
                        <a href="#" class="study__more">Bővebben</a>
                    </div>
                </div>
            </div>
            </div>
        </div>

@@include('includes/_end.html')