@@include('includes/_start.html', {
    "title": "Közép-Kelet-Európai Rekreációs Társaság",
    "keywords": "keyword1, keyword2, keyword3",
    "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit."
})
<body>
    <div class="wrapper">
@@include('includes/_header.html')
@@include('includes/_nav.html')
    <div class="content">
        @@include('includes/_headline.html', {
            "title": "Tanulmányok",
            "first-li": "Nyitóoldal",
            "selected": "Tanulmányok"
        })
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    <div class="study">
                        <div class="study__head study__head--light">V. évfolyam 2.szám</div>
                        <div class="study__label">Cím</div>
                        <div class="study__title">🇭🇺 A szénhidrátok táplálkozás-élettani hatásai és a     sporttáplálkozásban betöltött szerepük</div>
                        <hr>
                        <div class="study__title">🇬🇧 The nutritional and physiological effect of carbohydrates, their influences on sports nutrition</div>
                        <span class="study__author"><div class="study__label">Szerzők:</div>Dr. habil. Fritz Péter, Ignits Dóra, Katona Sára</span>
                        <span class="study__keywords"><div class="study__label">Kulcsszavak:</div>szénhidrát, sportteljesítmény, szénhidrátbevitel, szénhidráttöltés</span>
                        <span class="study__doi"><div class="study__label">Doi:</div><a href="javascript:void(false);" class="link" target="_blank">10.21486/recreation.2018.8.4.2</a></span>
                        <div class="study__label">Absztrakt:</div>
                        <div class="stat-text">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a
                                type specimen book. It has survived not only five centuries, but also the
                                leap into electronic typesetting, remaining essentially unchanged. It was
                                popularised in the 1960s with the release of Letraset sheets containing
                                Lorem Ipsum passages, and more recently with desktop publishing software
                                like Aldus PageMaker including versions of Lorem Ipsum.

                            </p>
                            <p>
                                Why do we use it?
                                It is a long established fact that a reader will be distracted by the
                                readable content of a page when looking at its layout. The point of using
                                Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                                as opposed to using 'Content here, content here', making it look like
                                readable English. Many desktop publishing packages and web page editors
                                now use Lorem Ipsum as their default model text, and a search for 'lorem
                                ipsum' will uncover many web sites still in their infancy. Various versions
                                have evolved over the years, sometimes by accident, sometimes on purpose
                                (injected humour and the like).
                            </p>
                        </div>
                        <div class="study__label">Tanulmány:</div>
                        <div class="stat-text">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a
                                type specimen book. It has survived not only five centuries, but also the
                                leap into electronic typesetting, remaining essentially unchanged. It was
                                popularised in the 1960s with the release of Letraset sheets containing
                                Lorem Ipsum passages, and more recently with desktop publishing software
                                like Aldus PageMaker including versions of Lorem Ipsum.

                            </p>
                            <p>
                                Why do we use it?
                                It is a long established fact that a reader will be distracted by the
                                readable content of a page when looking at its layout. The point of using
                                Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                                as opposed to using 'Content here, content here', making it look like
                                readable English. Many desktop publishing packages and web page editors
                                now use Lorem Ipsum as their default model text, and a search for 'lorem
                                ipsum' will uncover many web sites still in their infancy. Various versions
                                have evolved over the years, sometimes by accident, sometimes on purpose
                                (injected humour and the like).
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

@@include('includes/_end.html')