@@include('includes/_start.html', {
    "title": "Közép-Kelet-Európai Rekreációs Társaság",
    "keywords": "keyword1, keyword2, keyword3",
    "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit."
})

<body>
    <div class="wrapper">
@@include('includes/_header.html')
@@include('includes/_nav.html')
    <div class="content">
        @@include('includes/_headline.html', {
            "title": "Videók",
            "first-li": "Nyitóoldal",
            "second-li": "Médiatár",
            "selected": "Videók"
        })
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="video">
                        <div class="video__frame video__frame--bg">
                        </div>
                        <div class="video__title">Rekreáció a fókuszban, a mozgás legyen a gyógyszer!</div>
                        <div class="video__description">Komplex lakossági mozgásos rekreációs eseménysorozat Magyarország fürdőiben</div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="video">
                        <div class="video__frame">
                                <iframe width="100%" height="200" src="https://www.youtube.com/embed/pIhmf3b8Dw8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                        <div class="video__title">Rekreáció a fókuszban, a mozgás legyen a gyógyszer!</div>
                        <div class="video__description">Komplex lakossági mozgásos rekreációs eseménysorozat Magyarország fürdőiben</div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="video">
                        <div class="video__frame">
                                <iframe width="100%" height="200" src="https://www.youtube.com/embed/pIhmf3b8Dw8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                        <div class="video__title">Rekreáció a fókuszban, a mozgás legyen a gyógyszer!</div>
                        <div class="video__description">Komplex lakossági mozgásos rekreációs eseménysorozat Magyarország fürdőiben</div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="video">
                        <div class="video__frame">
                                <iframe width="100%" height="200" src="https://www.youtube.com/embed/pIhmf3b8Dw8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                        <div class="video__title">Rekreáció a fókuszban, a mozgás legyen a gyógyszer!</div>
                        <div class="video__description">Komplex lakossági mozgásos rekreációs eseménysorozat Magyarország fürdőiben</div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="video">
                        <div class="video__frame">
                                <iframe width="100%" height="200" src="https://www.youtube.com/embed/pIhmf3b8Dw8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                        <div class="video__title">Rekreáció a fókuszban, a mozgás legyen a gyógyszer!</div>
                        <div class="video__description">Komplex lakossági mozgásos rekreációs eseménysorozat Magyarország fürdőiben</div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="video">
                        <div class="video__frame">
                                <iframe width="100%" height="200" src="https://www.youtube.com/embed/pIhmf3b8Dw8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                        <div class="video__title">Rekreáció a fókuszban, a mozgás legyen a gyógyszer!</div>
                        <div class="video__description">Komplex lakossági mozgásos rekreációs eseménysorozat Magyarország fürdőiben</div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="video">
                        <div class="video__frame">
                                <iframe width="100%" height="200" src="https://www.youtube.com/embed/pIhmf3b8Dw8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                        <div class="video__title">Rekreáció a fókuszban, a mozgás legyen a gyógyszer!</div>
                        <div class="video__description">Komplex lakossági mozgásos rekreációs eseménysorozat Magyarország fürdőiben</div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="video">
                        <div class="video__frame">
                                <iframe width="100%" height="200" src="https://www.youtube.com/embed/pIhmf3b8Dw8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                        <div class="video__title">Rekreáció a fókuszban, a mozgás legyen a gyógyszer!</div>
                        <div class="video__description">Komplex lakossági mozgásos rekreációs eseménysorozat Magyarország fürdőiben</div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="video">
                        <div class="video__frame">
                                <iframe width="100%" height="200" src="https://www.youtube.com/embed/pIhmf3b8Dw8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                        <div class="video__title">Rekreáció a fókuszban, a mozgás legyen a gyógyszer!</div>
                        <div class="video__description">Komplex lakossági mozgásos rekreációs eseménysorozat Magyarország fürdőiben</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@@include('includes/_end.html')

