<!--     <script src="{$CONF.admin_web_url}js/main.js"></script> -->
    <script src="{$CONF.admin_web_url}vendor/vendor.js"></script>
    <script src="{$CONF.admin_web_url}js/main.js"></script>

    </body>
</html>