
<div class="row justify-content-center">
    <div class="col-12">
        <div class="button__container">
            <button type="submit" class="button button--submit">Rögzítés</button>
<!--             <button type="reset" onclick="location.href='{$strCancelUrl}';" class="button button--cancel">Mégse</button> -->
<!--             <a href="{$strCancelUrl}" class="button button--cancel">Mégse</a> -->
        </div>
    </div>
</div>
<div class="row justify-content-center {*mt-3*}">
    <div class="col-12">
    	<div class="return-msg-div"></div>
    </div>
</div>
