$amp: '.login-page';

#{$amp} {
    height: 100vh;
    background: $bg-color;
    padding: 60px 0;
    text-align: center;

    h1 {
        color: $c-white;
        margin-bottom: 60px;

    }

    &__header {
        font-size: 16px;
        font-family: $ff-ow;
        color: $c-white;
        margin-bottom: 30px;
    }

    &__alert {
        background-color: $alert-color;
        padding: 15px 20px;
        color: $c-white;
        font-size: 12px;
        font-weight: $fw-bold;
        margin-bottom: 30px;
        border-radius: 4px;
    }

    .button {
        display: block;
        margin-bottom: 30px;
        width: 100%;
        padding: 10px 20px;
        border-radius: 4px;
        background: $button-bg-color;
        font-size: 14px;
        font-weight: $fw-bold;
        color: $c-white;
        border: 1px solid $border-color;
        text-transform: uppercase;
        cursor: pointer;
        transition: 0.4s;

        &:hover,
        &:active,
        &:focus {
            transform: scale(0.98);
            text-decoration: none;
        }
    }

    .form {
        margin-bottom: 60px;
    }

    &__poweredby {

        span {
            display: block;
            color: $c-white;
            margin-bottom: 10px;
            font-size: 12px;
            font-weight: $fw-light;
        }
        img {
            height: 40px;
        }
    }
}