$amp: '.form';

#{$amp} {
    margin-bottom: 30px;

    &__row {
        width: 100%;
        margin-bottom: 15px;
    }

    &__title {
        font-family: $ff-ro;
        font-size: 16px;
    }

    &__item {

        margin-bottom: 15px;

        label {
            font-family: $ff-os;
            font-size: 13px;
            font-weight: $fw-light;
        }

        input:not([type='button']):not([type='submit']):not([type='radio']):not([type='checkbox']):not([type='file']),
        textarea {
            width: 100%;
            outline: none;
            background: $c-white;
            border: 1px solid #dadada;
            border-radius: 4px;
            font-family: $ff-ro;
            //font-weight: $fw-semibold;
            padding: 10px 15px;
            color:$c-black;
            font-size: 14px;
            line-height: normal;

            @include placeholder() {
                color: #b9b9b9;
                font-weight: $fw-light;
                font-size: 12px;
            }

            &[disabled] {
                color:$c-black;
                background: #efefef;
            }
        }

        &--error {
            input:not([type='button']):not([type='submit']):not([type='radio']):not([type='checkbox']):not([type='file']),
            textarea {
                border-color: #de5b57;
                background: #fce6e5;

                @include placeholder() {
                    color: #b74b48;
                }
            }

            .select2-selection__rendered {
                border-color: #de5b57!important;
                background: #fce6e5;
                color: #b74b48!important;
            }
        }

    }


    &__alert {
        margin: 5px 0;
        font-size: 12px;
        color: #b74b48;
    }

    &__group {

        position: relative;

        > input {
            width: 100%;
            outline: none;
            background: $c-white;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-family: $ff-ro;
            font-size: 12px;
            padding: 10px 20px;
        }

        /* upload */

        input[type=file] {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            cursor: pointer;
        }

        /* custom checkbox */
        
        label {
            display: block;
            position: relative;
            padding-left: 30px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 14px;
            font-weight: $fw-bold;
            user-select: none;

            > i {
                margin-right: 7px;
            }

            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
            }

            .eyeicon {
                position: absolute;
                top: 0;
                left: 0;
                /* margin-left: 6px; */
                margin-top: -12px;
                outline: none;
                font-size: 12px;
                color: #212529;
                background-color: #E3E8E8;
                border-color: #E3E8E8;
                width: 31px;
                height: 31px;
                padding: 3px 10px;
                border-radius: 4px;

                > i {
                    font-size: 12px;
                    color: #212529;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 20px;
                width: 20px;
                background-color: #eee;
                border: 1px solid #dadada;
                border-radius: 4px;

                &::after {
                    content: "\f00c";
                    font-family: $ff-fa;
                    font-size: 10px;
                    color: $c-white;
                    font-weight: 900;
                    position: absolute;
                    display: none;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            &:hover input ~ .checkmark {
                background-color: #ccc;
            }

            input:checked ~ .checkmark {
                background-color: #027e55;
                &:after {
                    display: block;
                }
            }
/*
            input:checked ~ .eyeicon {

                &:after {
                    display: block;
                }
            }
*/
            // Custom radiobtn

            input[type=radio] ~ .checkmark {
                border-radius: 50%;

                &::after {
                    content:'\f111';
                }
            }
        }
    }
}