@@include('includes/_start.html')
@@include('includes/_nav.html')

<div class="content">

@@include('includes/_headline.html', {
    "title": "Adminisztrátorok"
})
                
    <div class="container-fluid">
        <div class="row">
            @@include('includes/_new-btn.html', {
                "col": "col-12 col-sm-6 col-lg-4",
                "url": "../admin-sb/new-adminisztrator.html",
                "title" : "Új adminisztrátor hozzáadása"
            })
        </div>
        <div class="row">
            @@include('includes/_administrator.html')
            @@include('includes/_administrator.html')
            @@include('includes/_administrator.html')
            @@include('includes/_administrator.html')
            @@include('includes/_administrator.html')
            @@include('includes/_administrator.html')
            
        </div>
    </div>
</div>
        
@@include('includes/_end.html')