@@include('includes/_start.html')
@@include('includes/_nav.html')

<div class="content">

@@include('includes/_headline.html', {
    "title" : "Dokumentumtár"
})
    <div class="container-fluid">
        <div class="row">
            @@include('includes/_new-btn.html', {
                "col": "col-12 col-md-6 col-lg-6",
                "url": "../admin-sb/new-document.html",
                "title" : "Új dokumentum hozzáadása"
            })
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-6">
                <input type="text" id="tartalomInput" class="filterInput"  placeholder="Keresendő tartalom...">
            </div>
        </div>
        <div class="row">
            @@include('includes/_tiled-view.html', {
                "title": "Cím",
                "data": "Általános felhasználási feltételek"
            })
            @@include('includes/_tiled-view.html', {
                "title": "Cím",
                "data": "Általános felhasználási feltételek"
            })
            @@include('includes/_tiled-view.html', {
                "title": "Cím",
                "data": "Általános felhasználási feltételek"
            })
            @@include('includes/_tiled-view.html', {
                "title": "Cím",
                "data": "Általános felhasználási feltételek"
            })
            
        </div> 
    </div>
@@include('includes/_end.html')