@@include('includes/_start.html')
@@include('includes/_nav.html')
            <div class="content">

                <div class="new-button">
                    <a href="#">Új hozzáadás</a>
                </div>

                <div class="cover"></div>
                <div class="delete-popup">
                    <div class="options">
                        Biztosan törölni akarod?
                        <a href=""><div class="true">Igen</div></a>
                        <a href=""><div class="false">Nem</div></a>
                    </div>
                </div>

                <div class="table">

                    <div class="row header">
                        <div class="cell">
                            <input type="text" id="public-date" class="filterInput"  placeholder="Esemény kezdete">
                            <input type="text" id="news-name" class="filterInput"  placeholder="Esemény címe">
                        </div>
                    </div>

                    
                    <div class="row">
                        <div class="cell">
                            <a href="#"><i class="far fa-edit"></i></a>
                        </div>
                        <div class="cell">
                            <div class="content-name date">2018.04.03. 17:52</div>
                        </div>
                        <div class="cell">
                            <div class="content-name">első</div>
                        </div>
                        
                        <div class="cell active-box">
                            <input class="active-checkbox" title="Látható-e" type="checkbox" name="active" id="active" checked>
                        </div>
                        <div class="remove">
                            <a class="delete" href="#"><i class="fas fa-trash"></i></a>
                        </div>
                        <div id="teszt" class="eye-button">
                            <i class="fas fa-eye"></i>
                        </div>

                        <div class="appearance">
                            <div class="text">Hol jelenjen meg a weboldalon az esemény?</div>
                            <div class="cell">
                                <div class="form-item">
                                    <div class="title">Naptár</div>
                                    <input class="active-checkbox" type="checkbox" name="active" id="active" checked>
                                </div>
                            </div>
                            <div class="cell">
                                <div class="form-item">
                                    <div class="title">Előadási lista</div>
                                    <input class="active-checkbox" type="checkbox" name="active" id="active" checked>
                                </div>
                            </div>
                            <div class="cell">
                                <div class="form-item">
                                    <div class="title">Események</div>
                                    <input class="active-checkbox" type="checkbox" name="active" id="active" checked>
                                </div>
                            </div>
                            <div class="cell">
                                <div class="form-item">
                                    <div class="title">Médiatár</div>
                                    <input class="active-checkbox" type="checkbox" name="active" id="active" checked>
                                </div>
                            </div>     
                        </div>
                    </div>

                    <div class="row">
                        <div class="cell">
                            <a href="#"><i class="far fa-edit"></i></a>
                        </div>
                        <div class="cell">
                            <div class="content-name date">2018.04.03. 17:52</div>
                        </div>
                        <div class="cell">
                            <div class="content-name">első</div>
                        </div>
                        
                        <div class="cell active-box">
                            <input class="active-checkbox" title="Látható-e" type="checkbox" name="active" id="active" checked>
                        </div>
                        <div class="remove">
                            <a class="delete" href="#"><i class="fas fa-trash"></i></a>
                        </div>
                        <div id="teszt" class="eye-button">
                            <i class="fas fa-eye"></i>
                        </div>

                        <div class="appearance">
                            <div class="text">Hol jelenjen meg a weboldalon az esemény?</div>
                            <div class="cell">
                                <div class="form-item">
                                    <div class="title">Naptár</div>
                                    <input class="active-checkbox" type="checkbox" name="active" id="active" checked>
                                </div>
                            </div>
                            <div class="cell">
                                <div class="form-item">
                                    <div class="title">Előadási lista</div>
                                    <input class="active-checkbox" type="checkbox" name="active" id="active" checked>
                                </div>
                            </div>
                            <div class="cell">
                                <div class="form-item">
                                    <div class="title">Események</div>
                                    <input class="active-checkbox" type="checkbox" name="active" id="active" checked>
                                </div>
                            </div>
                            <div class="cell">
                                <div class="form-item">
                                    <div class="title">Médiatár</div>
                                    <input class="active-checkbox" type="checkbox" name="active" id="active" checked>
                                </div>
                            </div>     
                        </div>
                    </div>
                    
                </div>
                <div class="pagination">
                    <div class="pagination-wrapper">
                        <a class="pagination-btn-wrapper">1</a>
                        <span class="pagination-btn-wrapper more">...</span>			   
                        <a class="pagination-btn-wrapper prev"></a>
                            <a class="pagination-btn-wrapper">1.</a>
                            
                            <a href="" class="pagination-btn-wrapper current">2.</a>
                            
                        <a href="" class="pagination-btn-wrapper next"></a>
                        <span class="pagination-btn-wrapper more">...</span>
                        <a href="" class="pagination-btn-wrapper">2</a>
                        <form class="pagination-form" action="" method="GET">	    
                            <input type="number" name="o">
                        </form>
                    </div>
                        
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function() {
                $("#public-date").on("keyup", function() {
                    var value = $(this).val().toLowerCase();
                    $(".content-name.date").filter(function() {
                        $(this).parents(".row").toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
                $("#news-name").on("keyup", function() {
                    var value = $(this).val().toLowerCase();
                    $(".content-name").filter(function() {
                        $(this).parents(".row").toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });   

                $(".delete").click(function(){
                    $(".cover").fadeIn('slow');
                    $(".delete-popup").fadeIn('slow');
                });

                $(".eye-button").click(function(){
                    $(this).next('.appearance').stop().slideToggle(300);
                });
            });
        </script>
@@include('includes/_end.html')