@@include('includes/_start.html')
@@include('includes/_nav.html')

<div class="content">

@@include('includes/_headline.html', {
    "title": "Menükezelő"
})

    <div class="container-fluid">
        <div class="row">
            @@include('includes/_new-btn.html', {
                "col": "col-12 col-md-6 col-lg-6",
                "url": "../admin-sb/new-menu.html",
                "title" : "Új menü hozzáadása"
            })
        </div>
        <div class="row">
            <div class="col-12">
                <div class="list-view">
                    @@include('includes/_menu-row.html')
                    @@include('includes/_menu-row.html')
                    @@include('includes/_menu-row.html')
                    @@include('includes/_menu-row.html')
                    @@include('includes/_menu-row.html')
                    @@include('includes/_menu-row.html')
                </div>
            </div>
        </div>
    </div>
</div>

@@include('includes/_end.html')
