@@include('includes/_start.html')
@@include('includes/_nav.html')

<div class="content">

@@include('includes/_headline.html', {
    "title": "Új adminisztrátor létrehozása"
})
    <div class="container-fluid">
        @@include('includes/_back-btn.html', {
            "url" : "../admin-sb/adminisztratorok.html"
        })
        <div class="row">
            
            @@include('includes/_permissions.html')
            <div class="col-12 col-lg-8">
                <div class="form__title">Adminisztrátor adatai</div>
                <hr>
                @@include('includes/_input-item.html', {
                    "label": "Név",
                    "type": "text",
                    "placeholder": "Add meg a neved"
                })

                @@include('includes/_input-item.html', {
                    "label": "Azonosító",
                    "type": "text",
                    "placeholder": "Add meg az azonosítódat!"
                })

                @@include('includes/_input-item.html', {
                    "label": "E-mail cím",
                    "type": "email",
                    "placeholder": "Add meg az e-mail címed!"
                })

                @@include('includes/_input-item.html', {
                    "label": "Jelszó",
                    "type": "password",
                    "placeholder": "Add meg a jelszavad!"
                })
                
                <div class="form__item">
                    <a href="#" class="button">Jelszó küldése</a>
                </div>
            </div>
        </div>
        @@include('includes/_submit-cancel.html')
    </div>
</div>
@@include('includes/_end.html')