@@include('includes/_start.html')
@@include('includes/_nav.html')

<div class="content">

    @@include('includes/_headline.html', {
    "title" : "GALÉRIA"
    })
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex justify-content-between">
                <a href="../admin-sb/galeria-list.html" class="button button--back">Vissza</a>
                <div class="form__item">
                    <div class="form__group">
                        <button class="button button--upload">Képek feltöltése</button>
                        <input type="file" name="foto" id="foto" title="Kép">
                    </div>
                </div>
            </div>
        </div>
        <div class="row mtb-30">
            <div class="col-12">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="hu-tab" data-toggle="tab" href="#hu" role="tab" aria-controls="hu"
                            aria-selected="true">Magyar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="en-tab" data-toggle="tab" href="#en" role="tab" aria-controls="en"
                            aria-selected="false">Angol</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="ro-tab" data-toggle="tab" href="#ro" role="tab" aria-controls="ro"
                            aria-selected="false">Román</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="hu" role="tabpanel" aria-labelledby="hu-tab">
                        @@include('includes/_input-item.html', {
                        "label": "Galéria magyar címe",
                        "type": "text",
                        "placeholder": "Add meg a galéria magyar címét!"
                        })
                    </div>
                    <div class="tab-pane fade" id="en" role="tabpanel" aria-labelledby="en-tab">
                        @@include('includes/_input-item.html', {
                        "label": "Galéria angol címe",
                        "type": "text",
                        "placeholder": "Add meg a galéria angol címét!"
                        })
                    </div>
                    <div class="tab-pane fade" id="ro" role="tabpanel" aria-labelledby="ro-tab">
                        @@include('includes/_input-item.html', {
                        "label": "Galéria román címe",
                        "type": "text",
                        "placeholder": "Add meg a galéria román címét!"
                        })
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="sortable">
            <div class="col-12 col-sm-6 col-xl-3">
                <div class="tiled-view">
                    <div class="tiled-view__header">
                        <a href="#" class="button button--edit">
                            Szerkesztés</a>
                        <div class="tiled-view__icon-wrapper">
                            <a href="#" class="status-changer js-status-changer">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a href="#" class="remove js-remove">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="tiled-view__content">
                        <div class="tiled-view__img">
                            <img src="../admin-sb/images/video-list.png" alt="Videó lista">
                        </div>
                    </div>
                    <div class="form__item">
                        <label>&nbsp;</label>
                        <div class="form__group">
                            <select name="" id="" class="js-example-basic-single">
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3">
                <div class="tiled-view">
                    <div class="tiled-view__header">
                        <a href="#" class="button button--edit">
                            Szerkesztés</a>
                        <div class="tiled-view__icon-wrapper">
                            <a href="#" class="status-changer js-status-changer">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a href="#" class="remove js-remove">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="tiled-view__content">
                        <div class="tiled-view__img">
                            <img src="../admin-sb/images/video-list.png" alt="Videó lista">
                        </div>
                    </div>
                    <div class="form__item">
                        <label>&nbsp;</label>
                        <div class="form__group">
                            <select name="" id="" class="js-example-basic-single">
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3">
                <div class="tiled-view">
                    <div class="tiled-view__header">
                        <a href="#" class="button button--edit">
                            Szerkesztés</a>
                        <div class="tiled-view__icon-wrapper">
                            <a href="#" class="status-changer js-status-changer">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a href="#" class="remove js-remove">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="tiled-view__content">
                        <div class="tiled-view__img">
                            <img src="../admin-sb/images/video-list.png" alt="Videó lista">
                        </div>
                    </div>
                    <div class="form__item">
                        <label>&nbsp;</label>
                        <div class="form__group">
                            <select name="" id="" class="js-example-basic-single">
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3">
                <div class="tiled-view">
                    <div class="tiled-view__header">
                        <a href="#" class="button button--edit">
                            Szerkesztés</a>
                        <div class="tiled-view__icon-wrapper">
                            <a href="#" class="status-changer js-status-changer">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a href="#" class="remove js-remove">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="tiled-view__content">
                        <div class="tiled-view__img">
                            <img src="../admin-sb/images/video-list.png" alt="Videó lista">
                        </div>
                    </div>
                    <div class="form__item">
                        <label>&nbsp;</label>
                        <div class="form__group">
                            <select name="" id="" class="js-example-basic-single">
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3">
                <div class="tiled-view">
                    <div class="tiled-view__header">
                        <a href="#" class="button button--edit">
                            Szerkesztés</a>
                        <div class="tiled-view__icon-wrapper">
                            <a href="#" class="status-changer js-status-changer">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a href="#" class="remove js-remove">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="tiled-view__content">
                        <div class="tiled-view__img">
                            <img src="../admin-sb/images/video-list.png" alt="Videó lista">
                        </div>
                    </div>
                    <div class="form__item">
                        <label>&nbsp;</label>
                        <div class="form__group">
                            <select name="" id="" class="js-example-basic-single">
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3">
                <div class="tiled-view">
                    <div class="tiled-view__header">
                        <a href="#" class="button button--edit">
                            Szerkesztés</a>
                        <div class="tiled-view__icon-wrapper">
                            <a href="#" class="status-changer js-status-changer">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a href="#" class="remove js-remove">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="tiled-view__content">
                        <div class="tiled-view__img">
                            <img src="../admin-sb/images/video-list.png" alt="Videó lista">
                        </div>
                    </div>
                    <div class="form__item">
                        <label>&nbsp;</label>
                        <div class="form__group">
                            <select name="" id="" class="js-example-basic-single">
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3">
                <div class="tiled-view">
                    <div class="tiled-view__header">
                        <a href="#" class="button button--edit">
                            Szerkesztés</a>
                        <div class="tiled-view__icon-wrapper">
                            <a href="#" class="status-changer js-status-changer">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a href="#" class="remove js-remove">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="tiled-view__content">
                        <div class="tiled-view__img">
                            <img src="../admin-sb/images/video-list.png" alt="Videó lista">
                        </div>
                    </div>
                    <div class="form__item">
                        <label>&nbsp;</label>
                        <div class="form__group">
                            <select name="" id="" class="js-example-basic-single">
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3">
                <div class="tiled-view">
                    <div class="tiled-view__header">
                        <a href="#" class="button button--edit">
                            Szerkesztés</a>
                        <div class="tiled-view__icon-wrapper">
                            <a href="#" class="status-changer js-status-changer">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a href="#" class="remove js-remove">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="tiled-view__content">
                        <div class="tiled-view__img">
                            <img src="../admin-sb/images/video-list.png" alt="Videó lista">
                        </div>
                    </div>
                    <div class="form__item">
                        <label>&nbsp;</label>
                        <div class="form__group">
                            <select name="" id="" class="js-example-basic-single">
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @@include('includes/_end.html')