@@include('includes/_start.html') @@include('includes/_nav.html')
<div class="content">

    @@include('includes/_headline.html', { "title": "Új dokumentum felvitele" })
    <div class="container-fluid">
        @@include('includes/_back-btn.html',{ "url": "../admin-sb/documents.html" })
        <div class="row justify-content-center">
            <div class="col-12 col-lx-8">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="hu-tab" data-toggle="tab" href="#hu" role="tab" aria-controls="hu" aria-selected="true">Magyar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="en-tab" data-toggle="tab" href="#en" role="tab" aria-controls="en" aria-selected="false">Angol</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="ro-tab" data-toggle="tab" href="#ro" role="tab" aria-controls="ro" aria-selected="false">Román</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="hu" role="tabpanel" aria-labelledby="hu-tab">
                        <div class="form__title">Tartalom magyar adatai</div>
                        <hr>
                        @@include('includes/_input-item.html', { "label": "Dokumentum magyar megnevezése", "type": "text", "placeholder": "Add meg a dokumentum címét!" })
                        <div class="editor">
                            <div id="editor"></div>
                        </div>
                        <div class="form__item">
                            <label>&nbsp;</label>
                            <div class="form__group">
                                <button class="button button--upload">Fájl feltöltése</button>
                                <input type="file" name="foto" id="foto" title="Kép">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="en" role="tabpanel" aria-labelledby="en-tab">
                        <div class="form__title">Tartalom angol adatai</div>
                        <hr>
                        @@include('includes/_input-item.html', { "label": "Dokumentum angol megnevezése", "type": "text", "placeholder": "Add meg a dokumentum címét!" })
                        <div class="editor">
                            <div id="en-editor"></div>
                        </div>
                        <div class="form__item">
                            <label>&nbsp;</label>
                            <div class="form__group">
                                <button class="button button--upload">Fájl feltöltése</button>
                                <input type="file" name="foto" id="foto" title="Kép">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="ro" role="tabpanel" aria-labelledby="ro-tab">
                        <div class="form__title">Tartalom román adatai</div>
                        <hr>

                        @@include('includes/_input-item.html', { "label": "Dokumentum román megnevezése", "type": "text", "placeholder": "Add meg a dokumentum címét!" })
                        <div class="editor">
                            <div id="ro-editor"></div>
                        </div>
                        <div class="form__item">
                            <label>&nbsp;</label>
                            <div class="form__group">
                                <button class="button button--upload">Fájl feltöltése</button>
                                <input type="file" name="foto" id="foto" title="Kép">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @@include('includes/_submit-cancel.html')
    </div>
    @@include('includes/_end.html')