@@include('includes/_start.html')
@@include('includes/_nav.html')
            <div class="content">

                @@include('includes/_back-btn.html',{
                    "url": "../admin-sb/tanulmany-list.html"
                })
                <form action="" method="post">
                <div class="right-box">
                    <div class="heading">SEO</div>
                    <div class="form-item">
                        <div class="title">Title</div>
                        <input type="text" placeholder="Minimum 70, maximum 160 karakter!">
                    </div>
                    <div class="form-item">
                        <div class="title">Description</div>
                        <div id="seo-editor"></div>
                    </div>
                </div>
                <div class="form-new left-box">

                    <div class="select-item">
                        <div class="title">Magazin</div>
                        <select name="" id="">
                            
                            <option value="1">I. évfolyam 4. szám</option>
                            <option value="2">II. évfolyam 4. szám</option>
                        </select>
                    </div>

                    <div class="form-item">
                        <div class="title">Kép feltöltése</div>
                        <input type="file" name="foto" id="foto" title="Kép" class="field">
                    </div>

                    <div class="form-item">
                        <div class="title">Tanulmány feltöltése</div>
                        <input type="file">
                    </div>

                    <div class="form-item">
                        <div class="title">Publikálás dátuma</div>
                        <input type="date" title="Publikálás dátuma">
                    </div>

                    <div class="form-item">
                        <div class="title">Cím</div>
                        <input type="text" placeholder="Add meg a tanulmány címét!">
                    </div>

                    <div class="form-item">
                        <div class="title">DOI szám</div>
                        <input type="text" placeholder="Add meg a DOI számot!">
                    </div>

                    <div class="form-item">
                        <div class="title">Szerkesztők</div>
                        <input type="text" placeholder="Add meg a szerkesztőket!">
                    </div>

                    <div class="form-item">
                        <div class="title">Társ szerkesztők</div>
                        <input type="text" placeholder="Add meg a társ szerkesztőket!">
                    </div>

                    <div class="form-item">
                        <div class="title">Oldalak</div>
                        <input type="text" placeholder="Add meg az oldalakat!">
                    </div>

                    <div class="form-item">
                        <div class="title">Ár</div>
                        <input type="number" placeholder="Add meg az árat!">
                    </div>

                    <div class="form-item">
                        <div class="title">Absztrakt</div>
                        <div id="lead-editor"></div>
                    </div>

                    <div class="form-item">
                        <div class="title">Leírás</div>
                        <div id="editor"></div>
                    </div>
                    
                </div>

                <input class="submit-button" type="submit" value="Rögzítés">
                </form>
            </div>
        </div>
@@include('includes/_end.html')