@@include('includes/_start.html') @@include('includes/_nav.html')

<div class="content">

    @@include('includes/_headline.html', { "title": "Új menü hozzáadása" })
    <div class="container-fluid">
        @@include('includes/_back-btn.html',{ "url": "../admin-sb/menu-list.html" })
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="form__title">Általános beállítások</div>
                <hr>
                @@include('includes/_select-item.html', { "label": "Menüpont típusa", "option1": "Statikus", "option2": "Hír" }) @@include('includes/_select-item.html', { "label": "Mely menüpont alá tartozik?", "option1": "Események", "option2": "" })
            </div>
            <div class="col-12 col-lg-8">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="hu-tab" data-toggle="tab" href="#hu" role="tab" aria-controls="hu" aria-selected="true">Magyar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="en-tab" data-toggle="tab" href="#en" role="tab" aria-controls="en" aria-selected="false">Angol</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="ro-tab" data-toggle="tab" href="#ro" role="tab" aria-controls="ro" aria-selected="false">Román</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="hu" role="tabpanel" aria-labelledby="hu-tab">
                        <div class="form__title">Tartalom adatai</div>
                        <hr>
                        @@include('includes/_input-item.html', { "label": "Menüpont elnevezése", "type": "text", "placeholder": "Add meg a menüpont nevét!" })
                        <div class="return-msg-div return-msg-div--success">Sikeres</div>
                        <div class="return-msg-div return-msg-div--warning">Sikertelen</div>
                        @@include('includes/_input-item.html', { "label": "Külső Url", "type": "text", "placeholder": "Add meg az urlt!" }) @@include('includes/_select-item.html', { "label": "Url megnyitása", "option1": "Ugyanabban az ablakban", "option2": "Új ablakban" }) @@include('includes/_select-item.html', { "label": "Mely tartalom jelenjen meg?", "option1": "Hello world", "option2": "" })
                    </div>
                    <div class="tab-pane fade" id="en" role="tabpanel" aria-labelledby="en-tab">
                        <div class="form__title">Tartalom adatai</div>
                        <hr>
                        @@include('includes/_input-item.html', { "label": "Menüpont elnevezése", "type": "text", "placeholder": "Add meg a menüpont nevét!" }) @@include('includes/_input-item.html', { "label": "Külső Url", "type": "text", "placeholder": "Add meg az urlt!" }) @@include('includes/_select-item.html', { "label": "Url megnyitása", "option1": "Ugyanabban az ablakban", "option2": "Új ablakban" }) @@include('includes/_select-item.html', { "label": "Mely tartalom jelenjen meg?", "option1": "Hello world", "option2": "" })

                    </div>
                    <div class="tab-pane fade" id="ro" role="tabpanel" aria-labelledby="ro-tab">
                        <div class="form__title">Tartalom adatai</div>
                        <hr>
                        @@include('includes/_input-item.html', { "label": "Menüpont elnevezése", "type": "text", "placeholder": "Add meg a menüpont nevét!" }) @@include('includes/_input-item.html', { "label": "Külső Url", "type": "text", "placeholder": "Add meg az urlt!" }) @@include('includes/_select-item.html', { "label": "Url megnyitása", "option1": "Ugyanabban az ablakban", "option2": "Új ablakban" }) @@include('includes/_select-item.html', { "label": "Mely tartalom jelenjen meg?", "option1": "Hello world", "option2": "" })

                    </div>
                </div>
            </div>
        </div>
        @@include('includes/_submit-cancel.html')
    </div>
    @@include('includes/_end.html')