@@include('includes/_start.html') @@include('includes/_nav.html')

<div class="content">

    @@include('includes/_headline.html', { "title": "Új cikk hozzáadása" })
    <div class="container-fluid">
        @@include('includes/_back-btn.html',{ "url": "../admin-sb/news-list.html" })
        <div class="row">
            <div class="col-12 col-xl-4">
                <div class="form__title">Általános beállítások</div>
                <hr>
                @@include('includes/_select-item.html', { "label": "Város", "option1": "Szeged", "option2": "Budapest"
                })

                <div class="form__item">
                    <label>Cikk megjelenés helye</label>
                    <div class="form__group">
                        <select name="" id="" class="js-example-basic-single" multiple>
                            <option value="">Hír</option>
                            <option value="">Rólunk írták</option>
                            <option value="">Referencia</option>
                            <option value="">Események</option>
                        </select>
                    </div>
                </div>

                @@include('includes/_image-upload-item.html', {
                "title": "Cikk Kiemelt képe (600x315px)"
                })

                @@include('includes/_input-date.html', {
                "label": "Dátum kezdete"
                })

                @@include('includes/_input-date.html', {
                "label": "Dátum vége"
                })

                @@include('includes/_select-item.html', { "label": "Galéria csatolása", "option1": "Teszt1", "option2":
                "Teszt2" })
                @@include('includes/_select-item.html', { "label": "Videó csatolása", "option1": "Teszt1", "option2":
                "Teszt2" })


                <div class="form__item">
                    <label>Dokumentum csatolás</label>
                    <div class="form__group">
                        <select name="" id="" class="js-example-basic-single" multiple>
                            <option value="">Teszt1</option>
                            <option value="">Teszt2</option>
                            <option value="">Teszt3</option>
                            <option value="">Teszt4</option>
                            <option value="">Teszt4</option>
                            <option value="">Teszt4</option>
                            <option value="">Teszt4</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="col-12 col-xl-8">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="hu-tab" data-toggle="tab" href="#hu" role="tab" aria-controls="hu"
                            aria-selected="true">Magyar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="en-tab" data-toggle="tab" href="#en" role="tab" aria-controls="en"
                            aria-selected="false">Angol</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="ro-tab" data-toggle="tab" href="#ro" role="tab" aria-controls="ro"
                            aria-selected="false">Román</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="hu" role="tabpanel" aria-labelledby="hu-tab">
                        <div class="form__title">Tartalom magyar adatai</div>
                        <hr>
                        @@include('includes/_input-item.html', { "label": "Magyar cím", "type": "text", "placeholder":
                        "Add meg a tartalom címét!" })
                        <div class="editor">
                            <div id="editor"></div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="en" role="tabpanel" aria-labelledby="en-tab">
                        <div class="form__title">Tartalom angol adatai</div>
                        <hr>
                        @@include('includes/_input-item.html', { "label": "Angol cím", "type": "text", "placeholder":
                        "Add meg a tartalom címét!" })
                        <div class="editor">
                            <div id="en-editor"></div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="ro" role="tabpanel" aria-labelledby="ro-tab">
                        <div class="form__title">Tartalom román adatai</div>
                        <hr>
                        @@include('includes/_input-item.html', { "label": "Román cím", "type": "text", "placeholder":
                        "Add meg a tartalom címét!" })
                        <div class="editor">
                            <div id="ro-editor"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @@include('includes/_submit-cancel.html')
    </div>
    @@include('includes/_end.html')