@@include('includes/_start.html')
@@include('includes/_nav.html')
            <div class="content">

                @@include('includes/_back-btn.html',{
                    "url": "../admin-sb/slide-list.html"
                })
                
                <form action="" method="post">
                <div class="form-new">
                        
                    
                    <div class="form-item">
                        <div class="title">Kép feltöltése</div>
                        <input type="file" name="foto" id="foto" title="Kép" class="field">
                    </div>

                    <div class="form-item">
                        <div class="title">Kép alt megnevezése</div>
                        <input type="text" placeholder="">
                    </div>

                    <div class="form-item">
                        <div class="title">Követési idő</div>
                        <input name="kov_ido" id="kov_ido" type="range" min="4" max="15" step="1" value="4">
                    </div>
                    

                    <div class="form-item">
                        <div class="title">Url megadása</div>
                        <input type="text" placeholder="Add meg az urlt!">
                    </div>
                       
                    <div class="select-item">
                        <div class="title">Url megnyitása</div>
                        <select name="" id="">
                            
                            <option value="">Ugyanabban az ablakban</option>
                            <option value="">Új ablakban</option>
                        </select>
                    </div>

                    <div class="form-item">
                        <div class="title">Leírás</div>
                        <div id="editor"></div>
                    </div>
                    
                </div>
                <input class="submit-button" type="submit" value="Rögzítés">

                </form>
            </div>
        </div>


@@include('includes/_end.html')