@@include('includes/_start.html')
@@include('includes/_nav.html')
            <div class="content">

                <div class="back-button">
                    <a href="#"> << Vissza</a>
                </div>

                <form action="" method="post">

                <div class="right-box">
                    <div class="heading">SEO</div>
                    <div class="form-item">
                        <div class="title">Title</div>
                        <input type="text" placeholder="Minimum 70, maximum 160 karakter!">
                    </div>
                    <div class="form-item">
                        <div class="title">Description</div>
                        <div id="seo-editor"></div>
                    </div>
                </div>
                <div class="form-new left-box">
                    
                    <div class="select-item">
                        <div class="title">Életviteli klub</div>
                        <select name="" id="">
                            
                            <option value="1">Budapest</option>
                            <option value="2">Miskolc</option>
                            <option value="3">Pécs</option>
                            <option value="4">Szeged</option>
                            <option value="5">Szombathely</option>
                        </select>
                    </div>
                    <div class="form-item">
                        <div class="title">Pontos helyszín</div>
                        <input type="text" placeholder="Add meg a pontos címet!">
                    </div>
                    <div class="form-item">
                        <div class="title">Előadó</div>
                        <input type="text" placeholder="Add meg az előadó nevét">
                    </div>
                    <div class="form-item">
                        <div class="title">Téma</div>
                        <input type="text" placeholder="Add meg a téma címét!">
                    </div>
                    <div class="form-item">
                        <div class="title">Kép feltöltése</div>
                        <input type="file" name="foto" id="foto" title="Kép" class="field">
                    </div>

                    <div class="form-item">
                        <div class="title">Plakát feltöltése</div>
                        <input type="file" name="foto" id="foto" title="Kép" class="field">
                    </div>

                    <div class="form-item">
                        <div class="title">Dátum kezdete</div>
                        <input type="date" title="Publikálás dátuma">
                    </div>

                    <div class="form-item">
                        <div class="title">Dátum vége</div>
                        <input type="date" title="Publikálás dátuma">
                    </div>

                    <div class="form-item">
                        <div class="title">Cím</div>
                        <input type="text" placeholder="Add meg az esemény címét!">
                    </div>

                    <div class="form-item">
                        <div class="title">Rövid Leírás</div>
                        <div class="fr-view">
                            <textarea name="" id="" cols="30" rows="10"></textarea>
                        </div> 
                    </div>

                    <div class="form-item">
                        <div class="title">Leírás</div>
                        <div id="editor"></div>
                    </div>
                    
                </div>
                <input class="submit-button" type="submit" value="Rögzítés">

                </form>
            </div>
        </div>
    
@@include('includes/_end.html')