@@include('includes/_start.html')
@@include('includes/_nav.html')

<div class="content">

@@include('includes/_headline.html', {
    "title": "Új szponzor hozzáadása"
})
        <div class="container-fluid">
            @@include('includes/_back-btn.html',{
                "url": "../admin-sb/szponzor-list.html"
            })
            <div class="row">
                <div class="col-12 col-md-8">
                    <form action="" method="post" class="form">

                    @@include('includes/_image-upload-item.html')

                    @@include('includes/_input-item.html', {
                        "label": "Megnevezés",
                        "type": "text",
                        "placeholder": "Add meg a megnevezést!"
                    })
         
                    @@include('includes/_select-item.html', {
                        "label": "Kategória",
                        "option1": "Médiatámogatók",
                        "option2": "Együttműködő partner"
                    })

                    @@include('includes/_input-item.html', {
                        "label": "Url megadása",
                        "type": "text",
                        "placeholder": "Add meg az urlt!"
                    })
           
                    @@include('includes/_select-item.html', {
                        "label": "Url megnyitása",
                        "option1": "Ugyanabban az ablakban",
                        "option2": "Új ablakban"
                    })
                </div>
                <div class="col-12 col-md-4">
                    <img src="images/placeholder.jpg">
                </div>
            </div>
            @@include('includes/_submit-cancel.html')
        </div>
    </div>
@@include('includes/_end.html')