@@include('includes/_start.html')
@@include('includes/_nav.html')

<div class="content">

@@include('includes/_headline.html', {
    "title": "Cikktár"
})


<div class="container-fluid">
        <div class="row">
            @@include('includes/_new-btn.html', {
                "col": "col-12 col-md-6 col-lg-6",
                "url": "../admin-sb/new-news.html",
                "title" : "Új cikk felvitele"
            })
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="form__item">
                    <label>Kategória szűrés</label>
                    <div class="form__group">
                        <select name="" id="" class="js-example-basic-single" multiple>
                            <option value="">Hír</option>
                            <option value="">Rólunk írták</option>
                            <option value="">Referencia</option>
                            <option value="">Események</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <label>&nbsp;</label>
                <input type="text" id="news-filter" class="filterInput"  placeholder="Hír címe">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-xl-4">
                <div class="tiled-view">
                    <div class="tiled-view__header">
                        <a href="#" class="button button--edit">
                            <i class="far fa-edit"></i>Szerkesztés</a>
                        <div class="tiled-view__icon-wrapper">
                            <a href="#" class="status-changer js-status-changer">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a href="#" class="remove js-remove">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="tiled-view__content">
                        <div class="tiled-view__data js-data">
                            <b>Cím:</b>Víz alatti torna, tekerés és Nordic Walking; íjász&nbspbemutató
                        </div>
                        <div class="tiled-view__data">
                            <b>Publikálás dátuma:</b>2018/10/22 14:34
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-4">
                <div class="tiled-view">
                    <div class="tiled-view__header">
                        <a href="#" class="button button--edit">
                            <i class="far fa-edit"></i>Szerkesztés</a>
                        <div class="tiled-view__icon-wrapper">
                            <a href="#" class="status-changer js-status-changer">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a href="#" class="remove js-remove">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="tiled-view__content">
                        <div class="tiled-view__data js-data">
                            <b>Cím:</b>Víz alatti torna, tekerés és Nordic Walking; íjász&nbspbemutató
                        </div>
                        <div class="tiled-view__data">
                            <b>Publikálás dátuma:</b>2018/10/22 14:34
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-4">
                <div class="tiled-view">
                    <div class="tiled-view__header">
                        <a href="#" class="button button--edit">
                            <i class="far fa-edit"></i>Szerkesztés</a>
                        <div class="tiled-view__icon-wrapper">
                            <a href="#" class="status-changer js-status-changer">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a href="#" class="remove js-remove">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="tiled-view__content">
                        <div class="tiled-view__data js-data">
                            <b>Cím:</b>Víz alatti torna, tekerés és Nordic Walking; íjász&nbspbemutató
                        </div>
                        <div class="tiled-view__data">
                            <b>Publikálás dátuma:</b>2018/10/22 14:34
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-4">
                <div class="tiled-view">
                    <div class="tiled-view__header">
                        <a href="#" class="button button--edit">
                            <i class="far fa-edit"></i>Szerkesztés</a>
                        <div class="tiled-view__icon-wrapper">
                            <a href="#" class="status-changer js-status-changer">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a href="#" class="remove js-remove">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="tiled-view__content">
                        <div class="tiled-view__data js-data">
                            <b>Cím:</b>Víz alatti torna, tekerés és Nordic Walking; íjász&nbspbemutató
                        </div>
                        <div class="tiled-view__data">
                            <b>Publikálás dátuma:</b>2018/10/22 14:34
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-4">
                <div class="tiled-view">
                    <div class="tiled-view__header">
                        <a href="#" class="button button--edit">
                            <i class="far fa-edit"></i>Szerkesztés</a>
                        <div class="tiled-view__icon-wrapper">
                            <a href="#" class="status-changer js-status-changer">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a href="#" class="remove js-remove">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="tiled-view__content">
                        <div class="tiled-view__data js-data">
                            <b>Cím:</b>Víz alatti torna, tekerés és Nordic Walking; íjász&nbspbemutató
                        </div>
                        <div class="tiled-view__data">
                            <b>Publikálás dátuma:</b>2018/10/22 14:34
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-4">
                <div class="tiled-view">
                    <div class="tiled-view__header">
                        <a href="#" class="button button--edit">
                            <i class="far fa-edit"></i>Szerkesztés</a>
                        <div class="tiled-view__icon-wrapper">
                            <a href="#" class="status-changer js-status-changer">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a href="#" class="remove js-remove">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="tiled-view__content">
                        <div class="tiled-view__data js-data">
                            <b>Cím:</b>Víz alatti torna, tekerés és Nordic Walking; íjász&nbspbemutató
                        </div>
                        <div class="tiled-view__data">
                            <b>Publikálás dátuma:</b>2018/10/22 14:34
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-4">
                <div class="tiled-view">
                    <div class="tiled-view__header">
                        <a href="#" class="button button--edit">
                            <i class="far fa-edit"></i>Szerkesztés</a>
                        <div class="tiled-view__icon-wrapper">
                            <a href="#" class="status-changer js-status-changer">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a href="#" class="remove js-remove">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="tiled-view__content">
                        <div class="tiled-view__data js-data">
                            <b>Cím:</b>Víz alatti torna, tekerés és Nordic Walking; íjász&nbspbemutató
                        </div>
                        <div class="tiled-view__data">
                            <b>Publikálás dátuma:</b>2018/10/22 14:34
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-4">
                <div class="tiled-view">
                    <div class="tiled-view__header">
                        <a href="#" class="button button--edit">
                            <i class="far fa-edit"></i>Szerkesztés</a>
                        <div class="tiled-view__icon-wrapper">
                            <a href="#" class="status-changer js-status-changer">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a href="#" class="remove js-remove">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="tiled-view__content">
                        <div class="tiled-view__data js-data">
                            <b>Cím:</b>Víz alatti torna, tekerés és Nordic Walking; íjász&nbspbemutató
                        </div>
                        <div class="tiled-view__data">
                            <b>Publikálás dátuma:</b>2018/10/22 14:34
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-4">
                <div class="tiled-view">
                    <div class="tiled-view__header">
                        <a href="#" class="button button--edit">
                            <i class="far fa-edit"></i>Szerkesztés</a>
                        <div class="tiled-view__icon-wrapper">
                            <a href="#" class="status-changer js-status-changer">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a href="#" class="remove js-remove">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="tiled-view__content">
                        <div class="tiled-view__data js-data">
                            <b>Cím:</b>Víz alatti torna, tekerés és Nordic Walking; íjász&nbspbemutató
                        </div>
                        <div class="tiled-view__data">
                            <b>Publikálás dátuma:</b>2018/10/22 14:34
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-4">
                <div class="tiled-view">
                    <div class="tiled-view__header">
                        <a href="#" class="button button--edit">
                            <i class="far fa-edit"></i>Szerkesztés</a>
                        <div class="tiled-view__icon-wrapper">
                            <a href="#" class="status-changer js-status-changer">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a href="#" class="remove js-remove">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="tiled-view__content">
                        <div class="tiled-view__data js-data">
                            <b>Cím:</b>Víz alatti torna, tekerés és Nordic Walking; íjász&nbspbemutató
                        </div>
                        <div class="tiled-view__data">
                            <b>Publikálás dátuma:</b>2018/10/22 14:34
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-4">
                <div class="tiled-view">
                    <div class="tiled-view__header">
                        <a href="#" class="button button--edit">
                            <i class="far fa-edit"></i>Szerkesztés</a>
                        <div class="tiled-view__icon-wrapper">
                            <a href="#" class="status-changer js-status-changer">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a href="#" class="remove js-remove">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="tiled-view__content">
                        <div class="tiled-view__data js-data">
                            <b>Cím:</b>Víz alatti torna, tekerés és Nordic Walking; íjász&nbspbemutató
                        </div>
                        <div class="tiled-view__data">
                            <b>Publikálás dátuma:</b>2018/10/22 14:34
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                @@include('includes/_pagination.html')
            </div>
        </div>
@@include('includes/_end.html')