@@include('includes/_start.html')
@@include('includes/_nav.html')
            <div class="content">

<div class="row">
    @@include('includes/_new-btn.html', {
        "col": "col-12 col-md-6 col-lg-6",
        "url": "../admin-sb/new-slide.html",
        "title" : "Új slide hozzáadása"
    })
</div>
                
                <div class="media-item">
                    <a href="https://placeholder.com"><img src="http://via.placeholder.com/240x120"></a>
                    <div class="settings-panel">
                        <a  class="" href="#"><i class="far fa-edit"></i></a>
                        <a class="delete" href="#"><i class="fas fa-trash"></i></a>
                        <input class="active-checkbox" title="Látható-e"  type="checkbox" name="active" id="active" checked>
                    </div>
                </div>

                <div class="media-item">
                    <a href="https://placeholder.com"><img src="http://via.placeholder.com/240x120"></a>
                    <div class="settings-panel">
                        <a  class="" href="#"><i class="far fa-edit"></i></a>
                        <a class="delete" href="#"><i class="fas fa-trash"></i></a>
                        <input class="active-checkbox" title="Látható-e"  type="checkbox" name="active" id="active">
                    </div>
                </div>

                <div class="media-item">
                    <a href="https://placeholder.com"><img src="http://via.placeholder.com/240x120"></a>
                    <div class="settings-panel">
                        <a  class="" href="#"><i class="far fa-edit"></i></a>
                        <a class="delete" href="#"><i class="fas fa-trash"></i></a>
                        <input class="active-checkbox" title="Látható-e"  type="checkbox" name="active" id="active">
                    </div>
                </div>

                <div class="media-item">
                    <a href="https://placeholder.com"><img src="http://via.placeholder.com/240x120"></a>
                    <div class="settings-panel">
                        <a  class="" href="#"><i class="far fa-edit"></i></a>
                        <a class="delete" href="#"><i class="fas fa-trash"></i></a>
                        <input class="active-checkbox" title="Látható-e"  type="checkbox" name="active" id="active">
                    </div>
                </div>

            </div>
        </div>

        <script>
            $(document).ready(function() {
                $(".delete").click(function(){
                    $(".cover").fadeIn('slow');
                    $(".delete-popup").fadeIn('slow');
                });
            });
        </script>
@@include('includes/_end.html')