@@include('includes/_start.html')
@@include('includes/_nav.html')

<div class="content">

@@include('includes/_headline.html', {
    "title" : "Munkatárs"
})
    <div class="container-fluid">
        <div class="row">
            @@include('includes/_new-btn.html', {
                "col": "col-12 col-md-6 col-lg-6",
                "url": "../admin-sb/new-staff.html",
                "title" : "Új munkatárs hozzáadása"
            })
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-6">
                <input type="text" id="tartalomInput" class="filterInput"  placeholder="Keresendő tartalom...">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-xl-3">
                <div class="tiled-view">
                    <div class="tiled-view__header">
                        <a href="#" class="button button--edit">
                            <i class="far fa-edit"></i>Szerkesztés</a>
                        <div class="tiled-view__icon-wrapper">
                            <a href="#" class="status-changer js-status-changer">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a href="#" class="remove js-remove">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="tiled-view__content">
                        <div class="tiled-view__img">
                            <img src="../admin-sb/images/video-list.png" alt="Videó lista">
                        </div>
                        <div class="tiled-view__data">
                            <b>Név:</b>Horváth Tamás
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3">
                <div class="tiled-view">
                    <div class="tiled-view__header">
                        <a href="#" class="button button--edit">
                            <i class="far fa-edit"></i>Szerkesztés</a>
                        <div class="tiled-view__icon-wrapper">
                            <a href="#" class="status-changer js-status-changer">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a href="#" class="remove js-remove">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="tiled-view__content">
                        <div class="tiled-view__img">
                            <img src="../admin-sb/images/video-list.png" alt="Videó lista">
                        </div>
                        <div class="tiled-view__data">
                            <b>Név:</b>Horváth Tamás
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3">
                <div class="tiled-view">
                    <div class="tiled-view__header">
                        <a href="#" class="button button--edit">
                            <i class="far fa-edit"></i>Szerkesztés</a>
                        <div class="tiled-view__icon-wrapper">
                            <a href="#" class="status-changer js-status-changer">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a href="#" class="remove js-remove">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="tiled-view__content">
                        <div class="tiled-view__img">
                            <img src="../admin-sb/images/video-list.png" alt="Videó lista">
                        </div>
                        <div class="tiled-view__data">
                            <b>Név:</b>Horváth Tamás
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3">
                <div class="tiled-view">
                    <div class="tiled-view__header">
                        <a href="#" class="button button--edit">
                            <i class="far fa-edit"></i>Szerkesztés</a>
                        <div class="tiled-view__icon-wrapper">
                            <a href="#" class="status-changer js-status-changer">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a href="#" class="remove js-remove">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="tiled-view__content">
                        <div class="tiled-view__img">
                            <img src="../admin-sb/images/video-list.png" alt="Videó lista">
                        </div>
                        <div class="tiled-view__data">
                            <b>Név:</b>Horváth Tamás
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
@@include('includes/_end.html')