<body>
    <div class="sidebar">
        <a href="home.html" class="sidebar__title">recreationcentral.eu </a>
        <div class="sidebar__logout">
            <i class="fas fa-sign-out-alt"></i>
            <a href="index.html">Kijelentkezés</a>
        </div>
        
        <div class="nav">
            <ul class="nav__list">
                <li class="nav__li"><a href="../admin-sb/adminisztratorok.html">
                    <i class="fas fa-users"></i>
                    <span>Adminisztrátorok</span>
                </a></li>
                <li class="nav__li"><a href="../admin-sb/documents.html">
                    <i class="fas fa-users"></i>
                    <span>Dokumentumtár</span>
                </a></li>
                <li class="nav__li nav__dropdown js-dropdown"><a class="parent-li" href="#">
                    <i class="fas fa-file-image"></i>
                    <span>Média</span>
                    </a>
                    <ul class="nav__subnav">
                        <li class="nav__li"><a href="../admin-sb/galeria-list.html">
                            <i class="fas fa-images"></i>
                            <span>Központi galéria</span></a>
                        </li>
                        <li class="nav__li"><a href="../admin-sb/video-list.html">
                            <i class="fab fa-youtube"></i>
                            <span>Videó</span></a>
                        </li>
                    </ul> 
                </li>
                <li class="nav__li nav__dropdown js-dropdown"><a class="parent-li" href="#">
                    <i class="fas fa-align-left"></i>
                    <span>Tartalom</span></a>
                    <ul class="nav__subnav">
                        <li class="nav__li"><a href="../admin-sb/tartalom.html">
                            <i class="fas fa-align-left"></i>
                            <span>Statikus</span></a>
                        </li>
                        <li class="nav__li"><a href="../admin-sb/news-list.html">
                            <i class="fas fa-align-left"></i>
                            <span>Cikkek</span>
                        </a>
                        </li>
                        <!-- <li class="nav__li"><a href="../admin-sb/esemeny-list.html">
                            <i class="fas fa-align-left"></i>
                            <span>Előadások</span></a>
                        </li> -->
                        
                        <li class="nav__li"><a href="../admin-sb/faq-list.html">
                            <i class="fas fa-align-left"></i>
                            <span>GY.I.K.</span></a>
                        </li>
                        <li class="nav__li"><a href="../admin-sb/staff-list.html">
                            <i class="fas fa-align-left"></i>
                            <span>Munkatársak</span></a>
                        </li>
                        <li class="nav__li"><a href="../admin-sb/authors-list.html">
                            <i class="fas fa-align-left"></i>
                            <span>Szerzők, szerkesztőbizottság</span></a>
                        </li>
                    </ul>
                </li>
                <li class="nav__li"><a href="../admin-sb/menu-list.html">
                    <i class="fas fa-bars"></i>
                    <span>Menükezelő</span></a>
                </li>
                <!-- <li class="nav__li"><a href="#">
                    <i class="fas fa-envelope"></i>
                    <span>Rendelés</span></a>
                </li>
                <li class="nav__li"><a href="#">
                    <i class="fas fa-envelope"></i>
                    <span>Felhasználók</span></a>
                </li>
                <li class="nav__li"><a href="#">
                    <i class="fas fa-align-left"></i>
                    <span>Magazinok</span></a>
                </li>
                <li class="nav__li"><a href="../admin-sb/tanulmany-list.html">
                    <i class="fas fa-align-left"></i>
                    <span>Tanulmányok</span></a>
                </li> -->
            </ul>
        </div>       
    </div>