<div class="seo-box">
    <div class="seo-box__title">SEO beállítások</div>
    <hr>
    <div class="form__item">
        <label>Meta cím</label>
        <input type="text" placeholder="Add meg a tartalom címét!">
    </div>
    <div class="form__item">
        <label>Meta leírás</label>
        <div id="seo-editor"></div>
    </div>
</div>