<div class="row justify-content-center">
    <div class="col-12">
        <div class="button__container">
            <button type="submit" class="button button--submit">Rögzítés</button>
            <button type="reset" class="button button--cancel">Mégse</button>
        </div>
        </form>
    </div>
</div>