<div class="col-12 col-sm-6 col-md-4 bottom-footer">
    <div class="footer-logo">
        <a href="http://yourrecreation.eu" target="_blank"><img src="{$CONF.web_url}images/yourrecreation.png" alt="YourRecreation"></a>
        <a href="http://www.egeszsegfejlesztes.eu" target="_blank"><img src="{$CONF.web_url}images/egfejl.png" alt="Egészségfejlesztés"></a>
    </div>
</div>