.home-csempe {
    width: 96%;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    display: inline-block;
    margin-bottom: 10px;

    @include desktop {
        width: 30%;
    }

    .svg-inline--fa {
        font-size: 50px;
        display: block;
        margin: 0 auto;
        padding-bottom: 10px;
    }
}