<div class="list-view__row">
    <div class="row align-items-center">
        <div class="col-12 col-sm-12 col-xl-1">
            <div class="list-view__order-edit">
                <div class="form__item">
                    <div class="form__group">
                        <select name="" id="" class="js-example-basic-single">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                            <option value="">5</option>
                            <option value="">6</option>
                            <option value="">7</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-10 col-xl-9">
            <div class="list-view__name">Főmenü</div>
        </div>
        <div class="col-12 col-sm-2 flex flex--end">
            <a class="archive js-row-archive" href="#" data-toggle="tooltip" data-placement="top" title="Aktív-e">
                <i class="far fa-eye"></i>
            </a>
            <a href="#" class="edit" data-toggle="tooltip" data-placement="top" title="Szerkesztés">
                <i class="far fa-edit"></i>
            </a>
            <a class="remove js-remove" href="#" data-toggle="tooltip" data-placement="top" title="Törlés">
                <i class="fas fa-trash"></i>
            </a>
        </div>
    </div>
</div>