<div class="form__item">
    <div class="form__group">
        <label>
            @@item1
            <input type="radio" checked="checked" name="radio">
            <span class="checkmark"></span>
        </label>
        <label>
            @@item2
            <input type="radio" name="radio">
            <span class="checkmark"></span>
        </label>
    </div>
</div>