<div class="form__item">
    <div class="form__group">
        <label>
            @@title
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>
    </div>
</div>