<div class="list-view__row">
    <div class="row align-items-center">
        <div class="col-12 col-md-2">
            <div class="list-view__order-edit">
                <div class="list-view__btn js-list-view-dropdown"></div>
                <div class="form__item">
                    <div class="form__group">
                        <select name="" id="" class="js-example-basic-single">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                            <option value="">5</option>
                            <option value="">6</option>
                            <option value="">7</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-10 col-xl-4">
            <div class="list-view__name">Általános szerződési feltételek</div>
        </div>
        <div class="col-12 col-sm-10 col-xl-4 flex flex--end">
            <div class="list-view__settings">
                <div class="form__item">
                    <div class="form__group">
                        <label>
                            Főmenü
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="form__item">
                    <div class="form__group">
                        <label>
                            Footer menü
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-2 col-xl-2 flex flex--end">
            <div class="form__item js-row-menu-status">
                <div class="form__group">
                    <label class="js-menu-checkbox">
                        &nbsp;
                        <input type="checkbox">
                        <span class="eyeicon"><i class="far fa-eye"></i></span>
                    </label>
                </div>
            </div>
            <a href="#" class="edit" data-toggle="tooltip" data-placement="top" title="Szerkesztés">
                <i class="far fa-edit"></i>
            </a>
            <a class="remove js-remove" href="#" data-toggle="tooltip" data-placement="top" title="Törlés">
                <i class="fas fa-trash"></i>
            </a>
        </div>
    </div>
    <div class="list-view__sub">
        <hr>

        <div class="row align-items-center">
            <div class="col-12 col-md-2">
                <div class="list-view__order-edit">
                    <div class="list-view__btn" style="opacity:0; cursor:unset;"></div>
                    <div class="form__item">
                        <div class="form__group">
                            <select name="" id="" class="js-example-basic-single">
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option>
                                <option value="">5</option>
                                <option value="">6</option>
                                <option value="">7</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-10 col-xl-4">
                <div class="list-view__name">Főmenü</div>
            </div>
            <div class="col-12 col-sm-10 col-xl-4 flex flex--end">
                <div class="list-view__settings">
                    <div class="form__item">
                        <div class="form__group">
                            <label>
                                Főmenü
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="form__item">
                        <div class="form__group">
                            <label>
                                Footer menü
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-2 col-xl-2 flex flex--end">
                <a class="archive js-row-archive" href="#">
                    <i class="far fa-eye"></i>
                </a>
                <a href="#" class="edit">
                    <i class="far fa-edit"></i>
                </a>
                <a class="remove js-remove" href="#">
                    <i class="fas fa-trash"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="list-view__sub">
        <hr>

        <div class="row align-items-center">
            <div class="col-12 col-md-2">
                <div class="list-view__order-edit">
                    <div class="list-view__btn" style="opacity:0; cursor:unset;"></div>
                    <div class="form__item">
                        <div class="form__group">
                            <select name="" id="" class="js-example-basic-single">
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option>
                                <option value="">5</option>
                                <option value="">6</option>
                                <option value="">7</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-10 col-xl-4">
                <div class="list-view__name">Főmenü</div>
            </div>
            <div class="col-12 col-sm-10 col-xl-4 flex flex--end">
                <div class="list-view__settings">
                    <div class="form__item">
                        <div class="form__group">
                            <label>
                                Főmenü
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="form__item">
                        <div class="form__group">
                            <label>
                                Footer menü
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-2 col-xl-2 flex flex--end">
                <a class="archive js-row-archive" href="#">
                    <i class="far fa-eye"></i>
                </a>
                <a href="#" class="edit">
                    <i class="far fa-edit"></i>
                </a>
                <a class="remove js-remove" href="#">
                    <i class="fas fa-trash"></i>
                </a>
            </div>
        </div>
    </div>
</div>