<div class="col-12 col-lg-4">
    <form action="" method="post" class="form">
    <div class="permissions">
        <div class="permissions__title">Jogosultságok</div>
        <hr>
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-12">
                <div class="form__item">
                    <div class="form__group">
                        <label>
                            <i class="fas fa-users"></i>
                            Adminisztrátorok
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="form__item">
                    <div class="form__group">
                        <label>
                            <i class="fas fa-users"></i>
                            Média
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="form__item">
                    <div class="form__group">
                        <label>
                            <i class="fas fa-users"></i>
                            Tartalom
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="form__item">
                    <div class="form__group">
                        <label>
                            <i class="fas fa-users"></i>
                            Menükezelő
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-12">
                <div class="form__item">
                    <div class="form__group">
                        <label>
                            <i class="fas fa-users"></i>
                            Rendelés
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="form__item">
                    <div class="form__group">
                        <label>
                            <i class="fas fa-users"></i>
                            Felhasználók
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="form__item">
                    <div class="form__group">
                        <label>
                            <i class="fas fa-users"></i>
                            Magazinok
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="form__item">
                    <div class="form__group">
                        <label>
                            <i class="fas fa-users"></i>
                            Tanulmányok
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>