<div class="col-12 col-sm-6 col-md-4">
    <div class="static-content">
        <a href="#" class="button button--edit"><i class="far fa-edit"></i>Szerkesztés</a>
        <a href="#" class="remove remove--absolute js-remove"><i class="fas fa-trash"></i></a>
        <hr>
        <div class="static-content__title"><b>Cím:</b>@@cím</div>
    </div>
</div> 