.flatpickr-months .flatpickr-month {
    height: 40px;
}

.flatpickr-current-month {
    font-size: 14px;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.flatpickr-weekdays {
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
}

.flatpickr-day.endRange, .flatpickr-day.endRange.inRange, 
.flatpickr-day.endRange.nextMonthDay, .flatpickr-day.endRange.prevMonthDay, 
.flatpickr-day.endRange:focus, .flatpickr-day.endRange:hover, .flatpickr-day.selected, 
.flatpickr-day.selected.inRange, .flatpickr-day.selected.nextMonthDay,
.flatpickr-day.selected.prevMonthDay, .flatpickr-day.selected:focus, 
.flatpickr-day.selected:hover, .flatpickr-day.startRange, .flatpickr-day.startRange.inRange,
.flatpickr-day.startRange.nextMonthDay, .flatpickr-day.startRange.prevMonthDay, 
.flatpickr-day.startRange:focus, .flatpickr-day.startRange:hover {
    background: #007551;
    border-color: #007551;
}