.page-item.active .page-link {
    background-color: #027e55;;
    border-color: #027e55;
}

.page-item.disabled .page-link {
    opacity: 0.2;
}

.page-link {
    color: $c-black;

    &:hover,
    &:active,
    &:focus {
        color: #027e55;
    }
}