.editor {
    background: $c-white;
}
.ql-editor {
    em {
        font-style: italic;
    }
    
    strong {
        font-weight: $fw-bold;
    }
    
    pre {
        background-color: #7d9849!important;
        color: white!important;
        padding: 18px 26px!important;
        border-radius: 4px!important;
    }
    
    /* ul, ol {
    
        li {
            list-style: none;
            margin-left: 10px;
            padding-left: 17px;
            line-height: 30px;
        
            &:before {
                content: '';
                display: inline-block;
                height: 10px;
                width: 10px;
                background-image: url(../../web/images/list.svg);
                vertical-align: middle;
                margin-right: 10px;
            }
        }
    } */
    
    blockquote {
        border-left: 4px solid #7d9849;
        padding-left: 15px;
    }
    
    .ql-size-small {
        font-size: 10px;
        line-height: 14px;
    }
    
    .ql-size-large {
        font-size: 18px;
        line-height: 22px;
    }
    
    .ql-size-huge {
        font-size: 20px;
        line-height: 24px;
    }
    
    .ql-align-justify {
        text-align: justify;
    }
    
    .ql-align-center {
        text-align: center;
    }
    
    .ql-align-right {
        text-align: right;
    }
}