.select2-selection--multiple {
    background-color: $c-white;
    height: auto;
    line-height: normal;
    outline: none;
    padding: 0;
    list-style-type: none;
    border-radius: 4px;

    .select2-selection__rendered {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        margin-bottom: 0;
        padding: 0;
        //height: 38px;
        height: 100%;
    }

    .select2-selection__choice {
        position: relative;
        background-color: #027e55 !important;
        border: 1px solid #dadada;
        border-radius: 4px;
        cursor: default;
        float: left;
        margin-right: 5px;
        margin-top: 9px !important;
        margin-bottom: 5px;
        padding: 5px !important;
        font-family: $ff-ro;
        font-weight: $fw-regular;
        font-size: 12px;
        line-height: normal;
        // line-height: 1;
        color: $c-white;
        list-style: none;

        .select2-selection__choice__remove {
            padding-right: 5px;
            cursor: pointer;
            color: $c-white;
        }
    }
}

.select2-search--inline {
    list-style: none;

    .select2-search__field {
        background: transparent !important;
        border: none !important;
        padding: 9px 0 14px !important;
        outline: none;
        -webkit-appearance: textfield;
    }
}
