{insert name="start" title="Adminisztrációs felület"}
{insert name="nav"}
    <div class="content">
        {insert name="headline"}
{*
        <a href="#"><div class="home-csempe">
            <i class="fas fa-align-left"></i>
            <div class="title">Új tartalom felvétele</div>

        </div></a>
        <a href="#"><div class="home-csempe">
            <i class="fas fa-align-left"></i>
            <div class="title">Új cikk felvétele</div>

        </div></a>
        <a href="#"><div class="home-csempe">
            <i class="fas fa-align-left"></i>
            <div class="title">Új galéria felvétele</div>

        </div></a>
        <div id="swal">teszt</div>
*}
    </div>
</div>
{insert name="end"}