<div class="container">
    <div class="row attachment justify-content-center">
        <div class="col-12 col-md-6">
            <div class="attachment__title">Galéria</div>
            <div class="attachment__gallery gallery" itemscope itemtype="https://schema.org/ImageGallery">
                <figure itemprop="associatedMedia" itemscope  class="gallery__item" itemtype="https://schema.org/ImageObject">
                    <a href="http://via.placeholder.com/333x194" itemprop="contentUrl" data-size="1920x1080">
                        <img src="http://via.placeholder.com/333x194" itemprop="thumbnail" alt="" />
                    </a>
                </figure>
                <figure itemprop="associatedMedia" itemscope  class="gallery__item" itemtype="https://schema.org/ImageObject">
                    <a href="http://via.placeholder.com/333x194" itemprop="contentUrl" data-size="1920x1080">
                        <img src="http://via.placeholder.com/333x194" itemprop="thumbnail" alt="" />
                    </a>
                </figure>
                <figure itemprop="associatedMedia" itemscope  class="gallery__item" itemtype="https://schema.org/ImageObject">
                    <a href="http://via.placeholder.com/333x194" itemprop="contentUrl" data-size="1920x1080">
                        <img src="http://via.placeholder.com/333x194" itemprop="thumbnail" alt="" />
                    </a>
                </figure>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="attachment__title">Videó</div>
            <div class="attachment__video attachment__video--bg">
              
            </div>
        </div>
        <div class="col-12">
            <div class="attachment__title">Dokumentumok</div>
            <div class="document">
                <span class="document__title">Alapszabály</span>
                <p class="document__desc">A magazinban megjelenő 
                    hirdetések tartalmáért a kiadón nem vállal felelőséget.
                </p>
                <a class="document__download" href="javascript:void(false);">Letöltés</a>
            </div>
            <div class="document">
                <span class="document__title">Alapszabály</span>
                <p class="document__desc">A magazinban megjelenő 
                    hirdetések tartalmáért a kiadón nem vállal felelőséget.
                </p>
                <a class="document__download" href="javascript:void(false);">Letöltés</a>
            </div>
            <div class="document">
                <span class="document__title">Alapszabály</span>
                <p class="document__desc">A magazinban megjelenő 
                    hirdetések tartalmáért a kiadón nem vállal felelőséget.
                </p>
                <a class="document__download" href="javascript:void(false);">Letöltés</a>
            </div>
            <div class="document">
                <span class="document__title">Alapszabály</span>
                <p class="document__desc">A magazinban megjelenő 
                    hirdetések tartalmáért a kiadón nem vállal felelőséget.
                </p>
                <a class="document__download" href="javascript:void(false);">Letöltés</a>
            </div>
        </div>
    </div>
</div>