<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="headline">
                <div class="headline__title">@@title</div>
                <ul class="breadcrumb">
                    <li class="breadcrumb__li">
                        <a href="javacript:void(false);">@@first-li</a>
                    </li>
                    <li class="breadcrumb__li">
                        <a>@@second-li</a>
                    </li>
                    <li class="breadcrumb__li breadcrumb__li--selected">@@selected</li>
                </ul>
            </div>
        </div>
    </div>
</div>