<hr>
<div class="container">
    <div class="partners">
        <div class="row">
            <div class="col-12 col-md-3">
                <h3 class="partners__title">Partnereink</h3>
            </div>
            <div class="col-12 col-md-9">
                <div class="partners__desc">
                    <p>Ide a partnerekheu kellene valami frappáns leírásIde a partnerekheu kellene valami frappáns leírás</p>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center mt40">
            <div class="col-12">
                <div class="partners__wrapper">
                    <a href="" class="partners__item">
                        <img src="http://via.placeholder.com/180x120" alt="">
                    </a> 
                    <a href="" class="partners__item">
                        <img src="http://via.placeholder.com/180x120" alt="">
                    </a> 
                    <a href="" class="partners__item">
                        <img src="http://via.placeholder.com/180x120" alt="">
                    </a> 
                    <a href="" class="partners__item">
                        <img src="http://via.placeholder.com/180x120" alt="">
                    </a> 
                    <a href="" class="partners__item">
                        <img src="http://via.placeholder.com/180x120" alt="">
                    </a> 
                    <a href="" class="partners__item">
                        <img src="http://via.placeholder.com/180x120" alt="">
                    </a> 
                    <a href="" class="partners__item">
                        <img src="http://via.placeholder.com/180x120" alt="">
                    </a> 
                    <a href="" class="partners__item">
                        <img src="http://via.placeholder.com/180x120" alt="">
                    </a> 
                </div>
            </div>
        </div>
    </div>
</div>


