@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Oswald:200,300,400,500,600,700|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i&subset=latin-ext');

html {
    background-color: #f2f2f2;
}

body {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    min-width: 320px;
    -webkit-font-smoothing: antialiased;
}

img {
    width: 100%;
}

.content {
    padding: 80px 10px;
    position: relative;

    @include desktop {
        margin-left: 280px;
        padding: 60px 30px;
    }
}

a {
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }
}

.archive, .edit, .status-changer {
    margin-left: 8px;
    outline: none;
    color: #212529;
    background-color: #E3E8E8;
    border-color: #E3E8E8;
    width: 31px;
    height: 31px;
    padding: 3px 10px;
    border-radius: 4px;
    position: relative;

    > i {
        font-size: 12px;
        color: #212529;
        @include center;
    }

    &:hover,
    &:active,
    &:focus {
        color: #212529;
    }
}

.remove {
    margin-left: 8px;
    outline: none;
    background: #F1635F;
    padding: 3px 10px;
    border-radius: 4px;
    position: relative;
    width: 31px;
    height: 31px;

    > i {
        font-size: 12px;
        color: #ffffff;
        @include center;
    }

    &--absolute {
        position: absolute;
        top: 20px;
        right: 20px;
    }
}

.flex-row {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;

    @include tablet {
        flex-flow: row;
        flex-wrap: nowrap;
    }
}

.section-title {
    font-family: $ff-os;
    font-weight: $fw-semibold;
    font-size: 16px;
    color: #000000;
    text-transform: uppercase;
    min-width: 120px;
    margin-bottom: 15px;

    &::after {
        content: "";
        display: block;
        height: 20px;
        background-image: url("../images/bottom-line.svg");
        background-repeat: no-repeat;
        background-position: left bottom;
    }
}

.flex {
    display: flex;

    &--end {
        justify-content: space-between;

        @include tablet {
            justify-content: flex-end;
        }
    }

}

.inactive {
    opacity: .4;
}

.deleted {
    border: 1px solid #B62020 !important;
    background-color: #FF9999 !important;
    opacity: .4;
}