$body-first-bg-color: #019765;
$body-last-bg-color: #004830;
$table-first-bg-color: #ffffff;
$table-last-bg-color: #bdbdbd;
$button-first-bg-color: #027e55;
$button-last-bg-color: #013b28;
$base-color: #ffffff;
$alert-color: #b62020;


$bg-color: linear-gradient(to bottom, $body-first-bg-color , $body-last-bg-color);
$button-bg-color: linear-gradient(to bottom, $button-first-bg-color , $button-last-bg-color);
$table-color: linear-gradient(to bottom, $table-first-bg-color , $table-last-bg-color);

$table-bg-color: $table-color;
$button-bg-color: $button-bg-color;

$border-color: #033c29;
$form-top-border: #004830;

// colors
$c-white: #ffffff;
$c-black: #000000;
$c-roof-teracotta: #B62020;

$border-r: 4px;

$light-weight: 400;
$medium-weight: 500;
$extra-weight: 700;

//Grid and Responsiv
$breakpoints: (
    mobil: 576px,
    tablet: 768px,
    desktop: 992px,
    lg-desktop: 1200px
);

$columns : 12;
$grid-max-width: 1200px;

//Heading font-size

$heading-font-size: (
    h1: 40px,
    h2: 32px,
    h3: 24px,
    h4: 16px,
    h5: 12px
);