{insert name="start"}
{insert name="nav"}

<div class="content">

    {if $strTplPage == 'new'}
        {assign var="strTitle" value="`$rowModuleData.module_name` - Új hozzáadása"}
    {elseif $strTplPage == 'edit'}
        {assign var="strTitle" value="`$rowModuleData.module_name` - Szerkesztés"}
    {else}
        {assign var="strTitle" value=""}
    {/if}
    {insert name="headline" title=$strTitle}

    <div class="container-fluid">
        <form action="" method="post" class="form module-save-form">
            {insert name="backbtn" url="`$CONF.admin_base_url``$rowModuleData.url`"}

            <div class="row justify-content-center">
            	<div class="col-12 col-lx-8">
            		<div class="form__title">Általános beállítások</div>
                    <hr>
					{insert name="selectitem" label="Melyik dokumentumtárban jelenjen meg?" select_name="`$rowModuleData.url`_field[type_id][]" options=$tblType multiple="1"}
            	</div>
                <div class="col-12 col-lx-8">
                    {insert name="inputitem" label="" type="hidden" placeholder="" input_name="module_url" value="`$rowModuleData.url`"}
                    {insert name="inputitem" label="" type="hidden" placeholder="" input_name="`$rowModuleData.url`_field[id]" value="`$tblEditedRowData.id`"}
                                        
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="hu-tab" data-toggle="tab" href="#hu" role="tab" aria-controls="hu" aria-selected="true">Magyar</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" id="en-tab" data-toggle="tab" href="#en" role="tab" aria-controls="en" aria-selected="false">Angol</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="ro-tab" data-toggle="tab" href="#ro" role="tab" aria-controls="ro" aria-selected="false">Román</a>
                        </li>
                        
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="hu" role="tabpanel" aria-labelledby="hu-tab">
                            <div class="form__title">Dokumentum magyar adatai</div>
                            <hr>
                            {insert name="inputitem" label="Megnevezés" type="text" placeholder="Add meg a dokumentum címét!" input_name="`$rowModuleData.url`_field[title]" value="`$tblEditedRowData.title`"}

                            <div class="form__item">
								<label>Rövid leírás</label>
                        		<textarea rows="5" name="{$rowModuleData.url}_field[lead]" >{$tblEditedRowData.lead}</textarea>
                        	</div>
                        	<label>Fájl feltöltés (Maximum 8 MB)</label>
                        	{insert name="imageupload" label="" btn_title="Fájl feltöltése" column="filename" input_name="`$rowModuleData.url`_field[filename]" is_img="0" extList=".doc, .docx, .pdf, .xls, .xlsx, .jpg, .jpeg, .png, .gif" file_url="`$tblEditedRowData.filename`"}
                        </div>
                        
                        <div class="tab-pane fade" id="en" role="tabpanel" aria-labelledby="en-tab">
                            <div class="form__title">Dokumentum angol adatai</div>
                            <hr>
                            {insert name="inputitem" label="Megnevezés" type="text" placeholder="Add meg a dokumentum címét!" input_name="`$rowModuleData.url`_field[title_en]" value="`$tblEditedRowData.title_en`"}
                            
							<div class="form__item">
								<label>Rövid leírás</label>
                        		<textarea rows="5" name="{$rowModuleData.url}_field[lead_en]" >{$tblEditedRowData.lead_en}</textarea>
                        	</div>
                        	
                        	{insert name="imageupload" label="" btn_title="Fájl feltöltése" column="filename_en" input_name="`$rowModuleData.url`_field[filename_en]" is_img="0" extList=".doc, .docx, .pdf, .xls, .xlsx, .jpg, .jpeg, .png, .gif" file_url="`$tblEditedRowData.filename_en`"}
                        </div>
                        <div class="tab-pane fade" id="ro" role="tabpanel" aria-labelledby="ro-tab">
                            <div class="form__title">Dokumentum román adatai</div>
                            <hr>
    
                            {insert name="inputitem" label="Megnevezés" type="text" placeholder="Add meg a dokumentum címét!" input_name="`$rowModuleData.url`_field[title_ro]" value="`$tblEditedRowData.title_ro`"}
                            
							<div class="form__item">
								<label>Rövid leírás</label>
                        		<textarea rows="5" name="{$rowModuleData.url}_field[lead_ro]" >{$tblEditedRowData.lead_ro}</textarea>
                        	</div>
                        	
                        	{insert name="imageupload" label="" btn_title="Fájl feltöltése" column="filename_ro" input_name="`$rowModuleData.url`_field[filename_ro]" is_img="0" extList=".doc, .docx, .pdf, .xls, .xlsx, .jpg, .jpeg, .png, .gif" file_url="`$tblEditedRowData.filename_ro`"}
                        </div>
                    </div>
                </div>
    	    </div>    
	        {insert name="submitcancel" cancel_url="`$CONF.admin_base_url``$rowModuleData.url`"}
        </form>
    </div>
    
</div>
{insert name="end"}
            
