{insert name="start"}
{insert name="nav"}

<div class="content">

    {if $strTplPage == 'new'}
        {assign var="strTitle" value="`$rowModuleData.module_name` - Új hozzáadása"}
    {elseif $strTplPage == 'edit'}
        {assign var="strTitle" value="`$rowModuleData.module_name` - Szerkesztés"}
    {else}
        {assign var="strTitle" value=""}
    {/if}
    {insert name="headline" title=$strTitle}

    <div class="container-fluid">
        <form action="" method="post" class="form module-save-form">
            {insert name="backbtn" url="`$CONF.admin_base_url``$rowModuleData.url`"}

            <div class="row justify-content-center">
                <div class="col-12 col-lx-8">
                    {insert name="inputitem" label="" type="hidden" placeholder="" input_name="module_url" value="`$rowModuleData.url`"}
                    {insert name="inputitem" label="" type="hidden" placeholder="" input_name="`$rowModuleData.url`_field[id]" value="`$tblEditedRowData.id`"}
                    
                    {insert name="inputitem" label="Oldal típusa" fill="1" type="text" placeholder="Add meg az oldal típusát" input_name="`$rowModuleData.url`_field[type_group]" value="`$tblEditedRowData.type_group`"}                    
                    {insert name="selectitem" label="Mely tartalom jelenjen meg?" select_name="`$rowModuleData.url`_field[static_id]" options=$tblStaticContent}
                    
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="hu-tab" data-toggle="tab" href="#hu" role="tab" aria-controls="hu" aria-selected="true">Magyar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="en-tab" data-toggle="tab" href="#en" role="tab" aria-controls="en" aria-selected="false">Angol</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="ro-tab" data-toggle="tab" href="#ro" role="tab" aria-controls="ro" aria-selected="false">Román</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="hu" role="tabpanel" aria-labelledby="hu-tab">
                            <div class="form__title">Oldal magyar adatai</div>
                            <hr>
                            {insert name="inputitem" class="url_parent_input" label="Magyar cím" type="text" fill="1" placeholder="Add meg az oldal címét!" input_name="`$rowModuleData.url`_field[name]" value="`$tblEditedRowData.name`"}
                            <div id="url_to_hu" class="url_input_div" data-url_field="{$rowModuleData.url}_field[name]">
                                <div class="form__item">
                                    <label>Magyar url</label><br />
                                    <span class="url_span pl-3">{$tblEditedRowData.url}</span>
                            	</div>
                            	{insert name="inputitem" class="url_input" label="Magyar url" type="hidden" input_name="`$rowModuleData.url`_field[url]" value="`$tblEditedRowData.url`"}
                            </div>
                        </div>
                        {*  Nyelvesítés *}    
                        <div class="tab-pane fade" id="en" role="tabpanel" aria-labelledby="en-tab">
                            <div class="form__title">Tartalom angol adatai</div>
                            <hr>
                            {insert name="inputitem" class="url_parent_input" label="Angol cím" type="text" fill="1" placeholder="Add meg az oldal címét!" input_name="`$rowModuleData.url`_field[name_en]" value="`$tblEditedRowData.name_en`"}
                            <div id="url_to_en" class="url_input_div" data-url_field="{$rowModuleData.url}_field[name_en]">
                                <div class="form__item">
                                    <label>Angol url</label><br />
                                    <span class="url_span pl-3">{$tblEditedRowData.url_en}</span>
                            	</div>
                            	{insert name="inputitem" class="url_input" label="Angol url" type="hidden" input_name="`$rowModuleData.url`_field[url_en]" value="`$tblEditedRowData.url_en`"}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="ro" role="tabpanel" aria-labelledby="ro-tab">
                            <div class="form__title">Tartalom román adatai</div>
                            <hr>
                            {insert name="inputitem" class="url_parent_input" label="Román cím" type="text" fill="1" placeholder="Add meg az oldal címét!" input_name="`$rowModuleData.url`_field[name_ro]" value="`$tblEditedRowData.name_ro`"}
                            <div id="url_to_ro" class="url_input_div" data-url_field="{$rowModuleData.url}_field[name_ro]">
                                <div class="form__item">
                                    <label>Román url</label><br />
                                    <span class="url_span pl-3">{$tblEditedRowData.url_ro}</span>
                            	</div>
                            	{insert name="inputitem" class="url_input" label="Román url" type="hidden" input_name="`$rowModuleData.url`_field[url_ro]" value="`$tblEditedRowData.url_ro`"}
                            </div>
                        </div>
                    </div>
                </div>
    	    </div>    
	        {insert name="submitcancel" cancel_url="`$CONF.admin_base_url``$rowModuleData.url`"}
        </form>
    </div>
    
</div>
{insert name="end"}
            
